sqlite is a database storage engine, which can be better compared with things such as MySQL, PostgreSQL, Oracle, MSSQL, etc. It is used to store and retrieve structured data from files.

SQLAlchemy is a Python library that provides an object relational mapper (ORM). OOP concept

It does what it suggests: it maps your databases (tables, etc.) to Python objects, so that you can more easily and natively interact with them. SQLAlchemy can be used with sqlite, MySQL, PostgreSQL, etc.

So, an ORM provides a set of tools that let you interact with your database models consistently across database engines.

In [1]:
import sqlite3

In [18]:
#after importing establish connection/communication btw Python IDE and DataBase
# c is used to establish conn

c= sqlite3.connect("Melissa2")
#Melissa is database which is created.

in terminal type >> melissavidiera$ sqlite3

SQLite version 3.36.0 2021-06-18 18:36:39

Enter ".help" for usage hints.

Connected to a transient in-memory database.

Use ".open FILENAME" to reopen on a persistent database.

In [12]:
c.execute('Drop table if exists Melissa2') #execute one line use c.execute. may- executemany
#sql command is passed as argument. 
#check Melissa DB exists, if does then drop

In [38]:
c= sqlite3.connect("Melissa6")

In [39]:
c.execute("create table Melissa5(id int, name text, score int)")
# create table <table name><(create id, name and score col)>
#<(col name1 data type, col name2 data type)

Now check documents, you can find file Melissa Database created with no extension

After opening-- melissavidiera$ sqlite3
SQLite version 3.36.0 2021-06-18 18:36:39
Enter ".help" for usage hints.
Connected to a transient in-memory database.
Use ".open FILENAME" to reopen on a persistent database.

I can not open DB as I have no compatible app


To check contents of my database, google database browser 
https://sqlitebrowser.org/ and download app 

Open-> selectDB we have created

Check DB in DB structure tab. 
to view tablular data, click on Browse data


Instead of creating DB in here or using python, I can directly create in the app

click on Execue SQL-> create table whisky(Age int, Weight int, cuteness int)

In [25]:
# to insert data in DB

c.execute("insert into Melissa1(id, name, score) values(1, 'Melisa', 1000)")

#error : database is locked. I guess we get this error if we view DB in app
#so write code again with dfferent DB name
#c= sqlite3.connect("Melissa2") before it was Melissa and execute this
#c.execute("create table Melissa1(.. again

In [27]:
c.commit()
#

In [28]:
c.execute("insert into whisky(age, weight, cuteness) values(5, 28, 1000)")

OperationalError: no such table: whisky

In [40]:
c.execute("insert into Melissa5(id, name, score) values(861, 'Melisa', 100)")
c.execute("insert into Melissa5(id, name, score) values(1648, 'Melisa', 10)")
c.execute("insert into Melissa5(id, name, score) values(1456, 'Melisa', 100)")
c.execute("insert into Melissa5(id, name, score) values(178, 'Melisa', 1)")
c.execute("insert into Melissa5(id, name, score) values(145, 'Melisa', 1000)")
c.execute("insert into Melissa5(id, name, score) values(15, 'Melisa', 10)")
c.execute("insert into Melissa5(id, name, score) values(17, 'Melisa', 1000)")

In [41]:
c.commit() #to save it

In [44]:
#to search
#select all from table Melissa5

c.execute("select * from Melissa5")
#retrns cursor

In [45]:
#to display 
list(c.execute("select * from Melissa5"))

[(861, 'Melisa', 100),
 (1648, 'Melisa', 10),
 (1456, 'Melisa', 100),
 (178, 'Melisa', 1),
 (145, 'Melisa', 1000),
 (15, 'Melisa', 10),
 (17, 'Melisa', 1000)]

In [47]:
type(c.execute("select * from Melissa5"))

sqlite3.Cursor

In [49]:
for i in c.execute("select * from Melissa5"):
    print(i)

(861, 'Melisa', 100)
(1648, 'Melisa', 10)
(1456, 'Melisa', 100)
(178, 'Melisa', 1)
(145, 'Melisa', 1000)
(15, 'Melisa', 10)
(17, 'Melisa', 1000)

In [51]:
for i in c.execute("select * from Melissa5 order by score"):
    print(i)    #c.execute returns cursor
#order by id- gives each and every dataaset 
# displays in ascending order by score

(178, 'Melisa', 1)
(1648, 'Melisa', 10)
(15, 'Melisa', 10)
(861, 'Melisa', 100)
(1456, 'Melisa', 100)
(145, 'Melisa', 1000)
(17, 'Melisa', 1000)

In [52]:
for i in c.execute("select * from Melissa5 order by id"):
    print(i)

(15, 'Melisa', 10)
(17, 'Melisa', 1000)
(145, 'Melisa', 1000)
(178, 'Melisa', 1)
(861, 'Melisa', 100)
(1456, 'Melisa', 100)
(1648, 'Melisa', 10)

In [59]:
for i in c.execute("select * from Melissa5 where name= 'Melisa'"):
                   print(i)

(861, 'Melisa', 100)
(1648, 'Melisa', 10)
(1456, 'Melisa', 100)
(178, 'Melisa', 1)
(145, 'Melisa', 1000)
(15, 'Melisa', 10)
(17, 'Melisa', 1000)

In [60]:
#to display entries( id ) with respect to name

for i in c.execute("select id from Melissa5 where name= 'Melisa'"):
                   print(i)

(861,)
(1648,)
(1456,)
(178,)
(145,)
(15,)
(17,)