In [2]:
import pandas as pd
chunk= pd.read_csv("test5.csv")

In [2]:
chunk

   Unnamed: 0   vdagn    yrk  ngff    dngd
0           0  nhrymw    NaN    NaN    NaN
1           1     NaN   jryk  ngfsf    NaN
2           2     NaN    NaN    NaN    NaN
3           3  mntwy,    ngf    NaN    NaN
4           4     nrs    NaN   ngfn    NaN
5           5     NaN    NaN    NaN  ngdnj
6           6       n  nsryj    NaN  badgn

In [4]:
chunk1= pd.read_csv("test5.csv",chunksize=100)
chunk1

#chunksize : int, optional
   # Return TextFileReader object for iteration.

* Chunksize is by default none. 
* it defines that much bytes of data. Here 100
* It loads partial dataset sometimes. Ex: I have given chunk size as 100 and my each row's memory is 30 bytes. 
* so it loads 3 entire row and partial 4th row
* It do not return data, it returns textfile object. We iterate through that object to fetch data.

* there is huge possibilities of data loss. hence, chunkzise is not used

In [7]:
df=pd.read_csv("test5.csv")
df

   Unnamed: 0   vdagn    yrk  ngff    dngd
0           0  nhrymw    NaN    NaN    NaN
1           1     NaN   jryk  ngfsf    NaN
2           2     NaN    NaN    NaN    NaN
3           3  mntwy,    ngf    NaN    NaN
4           4     nrs    NaN   ngfn    NaN
5           5     NaN    NaN    NaN  ngdnj
6           6       n  nsryj    NaN  badgn

In [8]:
df.head()

   Unnamed: 0   vdagn   yrk  ngff  dngd
0           0  nhrymw   NaN    NaN  NaN
1           1     NaN  jryk  ngfsf  NaN
2           2     NaN   NaN    NaN  NaN
3           3  mntwy,   ngf    NaN  NaN
4           4     nrs   NaN   ngfn  NaN

In [9]:
df= pd.read_csv("test5.csv",nrows=3)
df

   Unnamed: 0   vdagn   yrk  ngff   dngd
0           0  nhrymw   NaN    NaN   NaN
1           1     NaN  jryk  ngfsf   NaN
2           2     NaN   NaN    NaN   NaN

In [10]:
df.head()

   Unnamed: 0   vdagn   yrk  ngff   dngd
0           0  nhrymw   NaN    NaN   NaN
1           1     NaN  jryk  ngfsf   NaN
2           2     NaN   NaN    NaN   NaN

* As shown above, I assigned dataframe to var df. when df is displayed, all the data is displayed. 
* then I used read_csv with nrows as 3. only 3 rows are loaded in same var df
* Later, I used df.head() only 3 rows are shown not 5 as head() shows usually. 


Summarizing, nrows will just loads that number of row data whereas, head loads all data to memory and then shows just 5. 

This is helpful when I have huge data

In [5]:
df1= pd.read_csv("test5.csv",nrows=3)
df1

   Unnamed: 0   vdagn   yrk  ngff   dngd
0           0  nhrymw   NaN    NaN   NaN
1           1     NaN  jryk  ngfsf   NaN
2           2     NaN   NaN    NaN   NaN

In [6]:
df1.head()

   Unnamed: 0   vdagn   yrk  ngff   dngd
0           0  nhrymw   NaN    NaN   NaN
1           1     NaN  jryk  ngfsf   NaN
2           2     NaN   NaN    NaN   NaN

In [12]:
#RAM is not permanent memory and once i restart jupyter, all operations have to be done all over again 
# to store processed data we can use write_csv
df2= pd.read_csv("test5.csv")
df2.to_csv('neww.csv')
df2

   Unnamed: 0   vdagn    yrk  ngff    dngd
0           0  nhrymw    NaN    NaN    NaN
1           1     NaN   jryk  ngfsf    NaN
2           2     NaN    NaN    NaN    NaN
3           3  mntwy,    ngf    NaN    NaN
4           4     nrs    NaN   ngfn    NaN
5           5     NaN    NaN    NaN  ngdnj
6           6       n  nsryj    NaN  badgn

In [13]:
#to store in different directory.

df2.to_csv('/Users/melissavidiera/Desktop/neww1.csv')

In [15]:
#to change the sepearator
import sys
df2.to_csv('/Users/melissavidiera/Desktop/neww2.csv',sep='%')

In [24]:
#to store data in clipboard: in copy paste option, once copied it will be stored in clipboard. same as that
# import sys 

import sys
df2=df2.to_csv(sys.stdout, na_rep= 'Melissa') #replace na with NULL or any other data ex: Melissa

#do not replace null vlues with this approach.

,Unnamed: 0,vdagn,yrk,ngff ,dngd
0,0,nhrymw,Melissa,Melissa,Melissa
1,1,Melissa,jryk,ngfsf,Melissa
2,2,Melissa,Melissa,Melissa,Melissa
3,3,"mntwy,",ngf,Melissa,Melissa
4,4,nrs,Melissa,ngfn,Melissa
5,5,Melissa,Melissa,Melissa,ngdnj
6,6,n,nsryj,Melissa,badgn

In [25]:
df2

In [33]:
#by default index= true and header= false. that means there will be indices for my dataframe and header will not be there
import pandas as pd
df3=pd.to_csv('xyzz1.csv',index= False, header= False)

AttributeError: module 'pandas' has no attribute 'to_csv'

In [37]:
#df2= pd.read_csv("test5.csv")
#df2.to_csv('neww.csv')


df3= pd.read_csv("test5.csv")
df3.to_csv("new2.csv",index= False, header= True)

With default view, it looks like this

,Unnamed: 0,vdagn,yrk,ngff ,dngd

0,0,nhrymw,,,

1,1,,jryk,ngfsf,

2,2,,,,

3,3,"mntwy,",ngf,,

4,4,nrs,,ngfn,

5,5,,,,ngdnj

6,6,n,nsryj,,badgn


Without index and header it looks like this 

0,nhrymw,,,

1,,jryk,ngfsf,

2,,,,

3,"mntwy,",ngf,,

4,nrs,,ngfn,

5,,,,ngdnj

6,n,nsryj,,badgn

In [39]:
df3

   Unnamed: 0   vdagn    yrk  ngff    dngd
0           0  nhrymw    NaN    NaN    NaN
1           1     NaN   jryk  ngfsf    NaN
2           2     NaN    NaN    NaN    NaN
3           3  mntwy,    ngf    NaN    NaN
4           4     nrs    NaN   ngfn    NaN
5           5     NaN    NaN    NaN  ngdnj
6           6       n  nsryj    NaN  badgn

In [43]:
#df3= pd.read_csv("test5.csv")
df3.to_csv("new2.csv", columns= ['a', 'b', 'c'])

KeyError: "None of [Index(['a', 'b', 'c'], dtype='object')] are in the [columns]"

In [52]:
#create new dataset of dates
#in american date format

dates= pd.date_range('2/8/2020',periods=50) #arg- start date, end date, period:how many dates from start
dates

DatetimeIndex(['2020-02-08', '2020-02-09', '2020-02-10', '2020-02-11',
               '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-15',
               '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19',
               '2020-02-20', '2020-02-21', '2020-02-22', '2020-02-23',
               '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27',
               '2020-02-28', '2020-02-29', '2020-03-01', '2020-03-02',
               '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-07', '2020-03-08', '2020-03-09', '2020-03-10',
               '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14',
               '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18',
               '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22',
               '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26',
               '2020-03-27', '2020-03-28'],
              dtype='datetime64[ns]', freq='D')

In [53]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [50]:
date1= pd.date_range('2/8/2020','2/10/2020' ,periods=7)
date1

DatetimeIndex(['2020-02-08 00:00:00', '2020-02-08 08:00:00',
               '2020-02-08 16:00:00', '2020-02-09 00:00:00',
               '2020-02-09 08:00:00', '2020-02-09 16:00:00',
               '2020-02-10 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [60]:
date2= pd.date_range('2/8/2020',periods=7)

## range vs arange

* range is available in python core. arange is available in numpy
* range returns int series
* arange returns float series

In [55]:
import numpy as np

ts= pd.Series(np.arange(70))
ts

0      0
1      1
2      2
3      3
4      4
      ..
65    65
66    66
67    67
68    68
69    69
Length: 70, dtype: int64

In [61]:
#to change the index of this range

ts1= pd.Series(np.arange(7), index= date2)
ts1

2020-02-08    0
2020-02-09    1
2020-02-10    2
2020-02-11    3
2020-02-12    4
2020-02-13    5
2020-02-14    6
Freq: D, dtype: int64

In [62]:
ts2= pd.Series(np.arange(4), index= ["Melissa","Whisky","Coco","Picu"])
ts2

Melissa    0
Whisky     1
Coco       2
Picu       3
dtype: int64

In [64]:
#to write data: use to_csv

date3= pd.date_range('2/8/2020',periods=10) 
ts3= pd.Series(np.arange(10), index= date3)
ts3.to_csv('timeseries.csv')
ts3

2020-02-08    0
2020-02-09    1
2020-02-10    2
2020-02-11    3
2020-02-12    4
2020-02-13    5
2020-02-14    6
2020-02-15    7
2020-02-16    8
2020-02-17    9
Freq: D, dtype: int64

In [11]:
import csv

f1= open('xyzz.csv')

reader1= csv.reader(f1)#The returned object is an iterator.  Each iteration returns a row
#of the CSV file 
list(reader1)

[['', 'vdagn', 'yrk', 'ngff ', 'dngd'],
 ['0', 'nhrymw', '', '', ''],
 ['1', '', 'jryk', 'ngfsf', ''],
 ['2', '', '', '', ''],
 ['3', 'mntwy,', 'ngf', '', ''],
 ['4', 'nrs', '', 'ngfn', ''],
 ['5', '', '', '', 'ngdnj'],
 ['6', 'n', 'nsryj', '', 'badgn']]

In [12]:
type(reader)

_csv.reader

In [14]:
for line in reader1:
    print(line)

In [15]:
with open('xyzz.csv') as f1:
    lines= list(csv.reader(f1))
lines

[['', 'vdagn', 'yrk', 'ngff ', 'dngd'],
 ['0', 'nhrymw', '', '', ''],
 ['1', '', 'jryk', 'ngfsf', ''],
 ['2', '', '', '', ''],
 ['3', 'mntwy,', 'ngf', '', ''],
 ['4', 'nrs', '', 'ngfn', ''],
 ['5', '', '', '', 'ngdnj'],
 ['6', 'n', 'nsryj', '', 'badgn']]

In [17]:
#creating value in multiple lines
a=1
b= "Melissa"
c=45

print(a,b,c)

1 Melissa 45

In [19]:
#creating values in single line
a,b,c= 1,2,3
print(a,b,c)

1 2 3

In [21]:
#similarly for line dataset

lines[0]

['', 'vdagn', 'yrk', 'ngff ', 'dngd']

In [25]:
header, values= lines[0], lines[1:] #assign 1st row as header and rest of rows as lines

header

['', 'vdagn', 'yrk', 'ngff ', 'dngd']

In [26]:
values

[['0', 'nhrymw', '', '', ''],
 ['1', '', 'jryk', 'ngfsf', ''],
 ['2', '', '', '', ''],
 ['3', 'mntwy,', 'ngf', '', ''],
 ['4', 'nrs', '', 'ngfn', ''],
 ['5', '', '', '', 'ngdnj'],
 ['6', 'n', 'nsryj', '', 'badgn']]

In [27]:
zip(a,b) # we need to pass iterabe objects

TypeError: 'int' object is not iterable

In [28]:
zip(values)

In [29]:
list(zip(values))
#values had
#zip combines based on indices

[(['0', 'nhrymw', '', '', ''],),
 (['1', '', 'jryk', 'ngfsf', ''],),
 (['2', '', '', '', ''],),
 (['3', 'mntwy,', 'ngf', '', ''],),
 (['4', 'nrs', '', 'ngfn', ''],),
 (['5', '', '', '', 'ngdnj'],),
 (['6', 'n', 'nsryj', '', 'badgn'],)]

In [32]:
import csv

f2= open('/Users/melissavidiera/Downloads/test6.csv')
reader2= csv.reader(f2)
list(reader2)

[['a', 'b', 'c'], ['1', '2', '3'], ['4', '5', '6']]

In [34]:
for l in reader2:
    print(l)

In [37]:
with open('/Users/melissavidiera/Downloads/test6.csv') as f2:
    lines2= list(csv.reader(f2))
lines2

[['a', 'b', 'c'], ['1', '2', '3'], ['4', '5', '6']]

In [40]:
header1, values1= lines2[0], lines2[1:]
header1

['a', 'b', 'c']

In [41]:
values1

[['1', '2', '3'], ['4', '5', '6']]

In [42]:
zip(values1)

In [43]:
list(zip(values1))
#concatenation: return tuple

[(['1', '2', '3'],), (['4', '5', '6'],)]

In [47]:
list(zip(*values1)) #index wise zipping

[('1', '4'), ('2', '5'), ('3', '6')]

In [50]:
#index wise zipping: first zip values index wise then zip those values with header1 contents

list(zip(header1, zip(*values1)))

[('a', ('1', '4')), ('b', ('2', '5')), ('c', ('3', '6'))]

In [53]:
l1= [1,2,3,4,5]
l2=[5,6,7,8]
zip(l1,l2)

In [54]:
list(zip(l1,l2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

# JSON data

* Javascript object notation
* transfer data between servers
* format is like dictionary

In [55]:
obj= """

{ "name": "Melissa",
   "places_lived" : ["Mangalore", "Mandya", "Bangalore"],
   "pet": ["Ken","Picu", "Whisky","Coco"],
   "siblings": [{"name": "Prennie", "age": 35, "pets": "Ken"},
               {"name":"Vinu", "age": 28, "pets": null}]
}
"""

#copy this one except 1st and last line. paste in json viewer google result 1st link to view jason file
#this viewer will help us viewing structure of data

In [56]:
type(obj) #entire thing is enclsed in triple quote that's why the type is string

str

In [59]:
import json
result= json.loads(obj) # loads convert string into dict
result

{'name': 'Melissa',
 'places_lived': ['Mangalore', 'Mandya', 'Bangalore'],
 'pet': ['Ken', 'Picu', 'Whisky', 'Coco'],
 'siblings': [{'name': 'Prennie', 'age': 35, 'pets': 'Ken'},
  {'name': 'Vinu', 'age': 28, 'pets': None}]}

In [60]:
type(result) #now I have loaded obj which was string usong json and now it's type is dictionary

dict

In [61]:
asjson= json.dumps(obj) #dumps converts dict back to string
obj

'\n\n{ "name": "Melissa",\n   "places_lived" : ["Mangalore", "Mandya", "Bangalore"],\n   "pet": ["Ken","Picu", "Whisky","Coco"],\n   "siblings": [{"name": "Prennie", "age": 35, "pets": "Ken"},\n               {"name":"Vinu", "age": 28, "pets": null}]\n}\n'

In [62]:
type(obj)

str

In [63]:
#read a chunk of data from dict and load into dataframe
#convert into dataframe using pandas

result['siblings'] #take a chunk of data from dict

[{'name': 'Prennie', 'age': 35, 'pets': 'Ken'},
 {'name': 'Vinu', 'age': 28, 'pets': None}]

In [67]:
#convert this data into df

siblings= pd.DataFrame(result['siblings'])
siblings

      name  age  pets
0  Prennie   35   Ken
1     Vinu   28  None

In [74]:

siblings1= pd.DataFrame(result['siblings'], columns=["NAME","AGE","PETS"])
siblings1

   NAME  AGE  PETS
0   NaN  NaN   NaN
1   NaN  NaN   NaN

In [71]:
data1= pd.read_json("json1.json")
data1

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [76]:
#store data in json format/write json data format

print(data1.to_json())
#but this is different from actual data file

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [77]:
# to store the data as in json file we need to use arg called orient=records
print(data1.to_json())
print(data1.to_json(orient='records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [81]:
tables=pd.read_html('failed_bank_list.html')
#I googled failed bank list, saved google page.html and imported here
#tables=pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list.html')
tables

[                                        Bank NameBank           CityCity  \
 0                                   Almena State Bank             Almena
 1                          First City Bank of Florida  Fort Walton Beach
 2                                The First State Bank      Barboursville
 3                                  Ericson State Bank            Ericson
 4                    City National Bank of New Jersey             Newark
 5                                       Resolute Bank             Maumee
 6                               Louisa Community Bank             Louisa
 7                                The Enloe State Bank             Cooper
 8                 Washington Federal Bank for Savings            Chicago
 9     The Farmers and Merchants State Bank of Argonia            Argonia
 10                                Fayette County Bank         Saint Elmo
 11  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...          Milwaukee

    StateSt  CertCert              Acquiring InstitutionAI Closing DateClosing  \
 0       KS     15426                          Equity Bank    October 23, 2020
 1       FL     16748            United Fidelity Bank, fsb    October 16, 2020
 2       WV     14361                       MVB Bank, Inc.       April 3, 2020
 3       NE     18265           Farmers and Merchants Bank   February 14, 2020
 4       NJ     21111                      Industrial Bank    November 1, 2019
 5       OH     58317                   Buckeye State Bank    October 25, 2019
 6       KY     58112    Kentucky Farmers Bank Corporation    October 25, 2019
 7       TX     10716                   Legend Bank, N. A.        May 31, 2019
 8       IL     30570                   Royal Savings Bank   December 15, 2017
 9       KS     17719                          Conway Bank    October 13, 2017
 10      IL      1802            United Fidelity Bank, fsb        May 26, 2017
 11      WI     30003  First-Citizens Bank & Trust Company         May 5, 2017

     FundFund
 0      10538
 1      10537
 2      10536
 3      10535
 4      10534
 5      10533
 6      10532
 7      10531
 8      10530
 9      10529
 10     10528
 11     10527  ]

In [ ]:
# XMLand HTML web scrapping
#to read from html page
#by default we can extract tabular data

tables=pd.read_html('failed_bank_list.html')
len(tables)
failures=tables[0]
failures.head()