In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [4]:
from numpy.random import randn as rn #random package provides func that generates random int/data
matrix_data= rn(5,4)
matrix_data
# there are 2 [[]] that means 2D and () array
#it generates random data and when it is getting executed 2nd time,generates different data

array([[-0.32157581, -0.49428824, -0.21620295,  1.10109032],
       [-1.24443287, -0.94855785,  0.92194198, -0.51139715],
       [-0.55047779, -1.13273303,  2.33144848,  0.09300423],
       [ 0.22963114,  0.06327543, -2.02951677,  0.69712909],
       [-0.15115454,  0.06240804, -1.0584859 ,  1.34225493]])

In [6]:

# in real time usage, my data cant keep changing or if I and my colleague want to use 
#same set of data which is randomly generated then 
#use seed() with same constant as arg, and then if we use random data generator then
# the random data is not changed when executed. 
np.random.seed(101)#my colleague and I have to use same seed number 101 to get same dat
matrix_data1= rn(5,4)
matrix_data1

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [7]:
#convert this array in dataframe.
# pass this Matrix data into DataFrame() using pd
pd.DataFrame(matrix_data1)

          0         1         2         3
0  2.706850  0.628133  0.907969  0.503826
1  0.651118 -0.319318 -0.848077  0.605965
2 -2.018168  0.740122  0.528813 -0.589001
3  0.188695 -0.758872 -0.933237  0.955057
4  0.190794  1.978757  2.605967  0.683509

In [11]:
#to change row (row_labels) col (column_headings) 

row_labels=["A","B",'C','D','E']
column_headings= ["P",'Q','R','S']
df=pd.DataFrame(matrix_data1,row_labels,column_headings)
df

          P         Q         R         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [12]:
#to ectract column wise

df['P'] #if it is single column then it is passed/displayed as series.

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: P, dtype: float64

In [18]:
df[['P','R']] #if we have to get multiple columns then it has to be passed as DF [[ ]]

          P         R
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

In [19]:
#to extract rows, we need to use df.loc. We use this only if we have already named rows
#it do not consider the default row indices

df.loc['C']

P   -2.018168
Q    0.740122
R    0.528813
S   -0.589001
Name: C, dtype: float64

In [20]:
type(df.loc['C'])

pandas.core.series.Series

In [21]:
df.loc[['A','C']]

          P         Q         R         S
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001

In [22]:
# we have row indices as A, B.. now if I want to fetch rows using default indices we use
#iloc
#iloc vs loc: integer location vs location. use default indices vs named row indices

df.iloc[2] # same as df.loc['C']

P   -2.018168
Q    0.740122
R    0.528813
S   -0.589001
Name: C, dtype: float64

In [25]:
# changing row labels into integers than alphabets

row_labels=["12","13",'14','15','16']
column_headings= ["P",'Q','R','S']
df1=pd.DataFrame(matrix_data1,row_labels,column_headings)
df1

           P         Q         R         S
12  2.706850  0.628133  0.907969  0.503826
13  0.651118 -0.319318 -0.848077  0.605965
14 -2.018168  0.740122  0.528813 -0.589001
15  0.188695 -0.758872 -0.933237  0.955057
16  0.190794  1.978757  2.605967  0.683509

In [26]:
df1.loc['14']

P   -2.018168
Q    0.740122
R    0.528813
S   -0.589001
Name: 14, dtype: float64

In [27]:
df1.iloc['14'] #error

TypeError: Cannot index by location index with a non-integer key

In [28]:
df1.iloc[2] #same as df1.loc['14']

P   -2.018168
Q    0.740122
R    0.528813
S   -0.589001
Name: 14, dtype: float64

In [29]:
#if there is repetation in row name, multiple same row names

row_labels=["12","13",'14','15','15']
column_headings= ["P",'Q','R','S']
df2=pd.DataFrame(matrix_data1,row_labels,column_headings)
df2

           P         Q         R         S
12  2.706850  0.628133  0.907969  0.503826
13  0.651118 -0.319318 -0.848077  0.605965
14 -2.018168  0.740122  0.528813 -0.589001
15  0.188695 -0.758872 -0.933237  0.955057
15  0.190794  1.978757  2.605967  0.683509

In [31]:
df2.loc['15']

           P         Q         R         S
15  0.188695 -0.758872 -0.933237  0.955057
15  0.190794  1.978757  2.605967  0.683509

In [33]:

df.iloc[[4,3,1]]

          P         Q         R         S
E  0.190794  1.978757  2.605967  0.683509
D  0.188695 -0.758872 -0.933237  0.955057
B  0.651118 -0.319318 -0.848077  0.605965

In [34]:
#to extract subset of dataframe/intersection of data using iloc. 
#combination of row and column

#pass iloc[[collection of row/s],[collection of col/s]]

df.iloc[[4,3,1],[2]] #4th, 3rd, 2nd row and 2nd col

          R
E  2.605967
D -0.933237
B -0.848077

In [35]:
#we can not use loc and get data in the same way of iloc
#ERROR
df.loc[[1,2],[1,2]]

KeyError: "None of [Int64Index([1, 2], dtype='int64')] are in the [index]"

In [36]:
#to fetch data from all corners
df.iloc[[0,4],[0,3]]

          P         S
A  2.706850  0.503826
E  0.190794  0.683509

In [37]:
#if we are not sure how many rows and columns are there then give this generic one

df.iloc[[0,-1],[0,-1]]

          P         S
A  2.706850  0.503826
E  0.190794  0.683509

In [38]:
#to fetch chunk of the dataframe. 
df

          P         Q         R         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [43]:
df.loc['B':'D','P':'R'] # if we are not refering to each row like A,B,C instead
#A to B (continuos data)then do not pass those inside []. 

#if we want specific indices then pass in the list inside []-> [[]]
# if we want continuos cols/rows then pass as series inside []

          P         Q         R
B  0.651118 -0.319318 -0.848077
C -2.018168  0.740122  0.528813
D  0.188695 -0.758872 -0.933237

In [44]:
#drop rows and columns

df.drop('P')
#error: "['P'] not found in axis"
#drop() drops rows or column, so when I am sayin to drop P, pandas doesnt understand
#if Im talking about row or column. so mention axis. if axis=0 then row, if axix=1 col

KeyError: "['P'] not found in axis"

In [46]:
df.drop('P',axis=1)
#in this instance P is dropped temporarily

          Q         R         S
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965
C  0.740122  0.528813 -0.589001
D -0.758872 -0.933237  0.955057
E  1.978757  2.605967  0.683509

In [47]:
df

          P         Q         R         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [50]:
# to drop permanently use inplace arg. inplace=false, temp drop, inplace true= permanent
df.drop('Q',axis=1, inplace=True)
df
#I've executed twice Pand Q are deleted

          R         S
A  0.907969  0.503826
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057
E  2.605967  0.683509

In [51]:
df.drop('C', inplace=True) #by default axis=0
df

          R         S
A  0.907969  0.503826
B -0.848077  0.605965
D -0.933237  0.955057
E  2.605967  0.683509

In [53]:
#ix[]
#
df2

           P         Q         R         S
12  2.706850  0.628133  0.907969  0.503826
13  0.651118 -0.319318 -0.848077  0.605965
14 -2.018168  0.740122  0.528813 -0.589001
15  0.188695 -0.758872 -0.933237  0.955057
15  0.190794  1.978757  2.605967  0.683509

In [54]:
df2.ix[15] #ix[] doesnt work in new version

AttributeError: 'DataFrame' object has no attribute 'ix'

In [55]:
df2.ix[15,'P']

AttributeError: 'DataFrame' object has no attribute 'ix'

## Conditional filtering

In [59]:
boolf= df2>0
print("\n Dataframe indexed by boolean dataframe\n", '-'*45 , sep=" ")
print(df2[boolf])

 Dataframe indexed by boolean dataframe
 ---------------------------------------------
           P         Q         R         S
12  2.706850  0.628133  0.907969  0.503826
13  0.651118       NaN       NaN  0.605965
14       NaN  0.740122  0.528813       NaN
15  0.188695       NaN       NaN  0.955057
15  0.190794  1.978757  2.605967  0.683509

In [61]:
print("\n Boolean Dataframe where we are checking if values are greater than 0 \n", '-'*69 , sep=" ")
print(df2>0)

 Boolean Dataframe where we are checking if values are greater than 0
 ---------------------------------------------------------------------
        P      Q      R      S
12   True   True   True   True
13   True  False  False   True
14  False   True   True  False
15   True  False  False   True
15   True   True   True   True

In [66]:
df2.loc[['12','13','14']]

           P         Q         R         S
12  2.706850  0.628133  0.907969  0.503826
13  0.651118 -0.319318 -0.848077  0.605965
14 -2.018168  0.740122  0.528813 -0.589001

In [67]:
print(df2.loc[['12','13','14']]>0)

        P      Q      R      S
12   True   True   True   True
13   True  False  False   True
14  False   True   True  False

In [69]:
#so if we put same condition inside dataframe then we will ger result inside dataframe

df2[df2.loc[['12','13','14']]>0]

           P         Q         R         S
12  2.706850  0.628133  0.907969  0.503826
13  0.651118       NaN       NaN  0.605965
14       NaN  0.740122  0.528813       NaN
15       NaN       NaN       NaN       NaN
15       NaN       NaN       NaN       NaN