In [2]:
import pandas as pd

In [3]:
ds= pd.read_csv('/Users/melissavidiera/Documents/train.csv') 
#csv stands fro comma sepearated values. csv file.

In [4]:
ds

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Table 1
NaN        Sensor-1 Sensor-2 Sensor-3  Sensor-4  Sensor-5 Sensor-6 Sensor-7 Sensor-8 Sensor-9 Sensor-10 Sensor-11 Sensor-12 Sensor-13 Sensor-14 Sensor-15 Sensor-16 Sensor-17 Sensor-18 Sensor-19 Sensor-20 Sensor-21 Sensor-22 Sensor-23 Sensor-24 Sensor-25 Sensor-26 Sensor-27 Sensor-28 Sensor-29 Sensor-30 Sensor-31 Sensor-32 Sensor-33 Sensor-34 Sensor-35 Sensor-36 Sensor-37 Sensor-38 Sensor-39 Sensor-40 Sensor-41 Sensor-42 Sensor-43 Sensor-44 Sensor-45 Sensor-46 Sensor-47 Sensor-48 Sensor-49 Sensor-50 Sensor-51 Sensor-52 Sensor-53 Sensor-54 Sensor-55 Sensor-56 Sensor-57 Sensor-58 Sensor-59 Sensor-60 Sensor-61 Sensor-62 Sensor-63 Sensor-64 Sensor-65 Sensor-66 Sensor-67 Sensor-68 Sensor-69 Sensor-70 Sensor-71 Sensor-72 Sensor-73 Sensor-74 Sensor-75 Sensor-76 Sensor-77 Sensor-78 Sensor-79 Sensor-80 Sensor-81 Sensor-82 Sensor-83 Sensor-84 Sensor-85 Sensor-86 Sensor-87 Sensor-88 Sensor-89 Sensor-90 Sensor-91 Sensor-92 Sensor-93 Sensor-94 Sensor-95 Sensor-96 Sensor-97 Sensor-98 Sensor-99 Sensor-100 Sensor-101 Sensor-102 Sensor-103 Sensor-104 Sensor-105 Sensor-106 Sensor-107 Sensor-108 Sensor-109 Sensor-110 Sensor-111 Sensor-112 Sensor-113 Sensor-114 Sensor-115 Sensor-116 Sensor-117 Sensor-118 Sensor-119 Sensor-120 Sensor-121 Sensor-122 Sensor-123 Sensor-124 Sensor-125 Sensor-126 Sensor-127 Sensor-128 Sensor-129 Sensor-130 Sensor-131 Sensor-132 Sensor-133 Sensor-134 Sensor-135 Sensor-136 Sensor-137 Sensor-138 Sensor-139 Sensor-140 Sensor-141 Sensor-142 Sensor-143 Sensor-144 Sensor-145 Sensor-146 Sensor-147 Sensor-148 Sensor-149 Sensor-150 Sensor-151 Sensor-152 Sensor-153 Sensor-154 Sensor-155 Sensor-156 Sensor-157 Sensor-158 Sensor-159 Sensor-160 Sensor-161 Sensor-162 Sensor-163 Sensor-164 Sensor-165 Sensor-166 Sensor-167 Sensor-168 Sensor-169 Sensor-170 Sensor-171 Sensor-172 Sensor-173 Sensor-174 Sensor-175 Sensor-176 Sensor-177 Sensor-178 Sensor-179 Sensor-180 Sensor-181 Sensor-182 Sensor-183 Sensor-184 Sensor-185 Sensor-186 Sensor-187 Sensor-188 Sensor-189 Sensor-190 Sensor-191 Sensor-192 Sensor-193 Sensor-194 Sensor-195 Sensor-196 Sensor-197 Sensor-198 Sensor-199 Sensor-200 Sensor-201 Sensor-202 Sensor-203 Sensor-204 Sensor-205 Sensor-206 Sensor-207 Sensor-208 Sensor-209 Sensor-210 Sensor-211 Sensor-212 Sensor-213 Sensor-214 Sensor-215 Sensor-216 Sensor-217 Sensor-218 Sensor-219 Sensor-220 Sensor-221 Sensor-222 Sensor-223 Sensor-224 Sensor-225 Sensor-226 Sensor-227 Sensor-228 Sensor-229 Sensor-230 Sensor-231 Sensor-232 Sensor-233 Sensor-234 Sensor-235 Sensor-236 Sensor-237 Sensor-238 Sensor-239 Sensor-240 Sensor-241 Sensor-242 Sensor-243 Sensor-244 Sensor-245 Sensor-246 Sensor-247 Sensor-248 Sensor-249 Sensor-250 Sensor-251 Sensor-252 Sensor-253  Sensor-254
Wafer-1    2988.3   2519.05  2208.8556 1157.7224 1.5509   100      107.8022 0.1233   1.5362   -0.0259   -0.0179   0.9614    197.1793  0         13.3419   404.5667  10.1924   0.9697    186.9869  12.5635   1.4075    -5469.25  2685.5    -4006.5   -1275.5   1.318     2.0157    7.4305    65.0778   2.4556    0.2184    3.4522    84.9105   8.6789    50.51     64.1125   49.49     65.1951   86.6867   117.0442  76.9      1.279     70        364.49    9.7316    133.5982  734.4697  0.8523    134.74    1         632.8282  125.4382  0         4.486     4.748     2936      0.9139    0.9447    4.5873    22.4736   361.6618  10.3268   116.0718  9.9538    17.5264   22.8371   711.6326  1.1173    147.6491  1         625.3827  112.5148  160.6463  464.7365  0         -0.0139   -0.0727   -0.0145   0.0025    0.0673    -0.1092   -0.0111   -0.0019   7.5953    0.1392    NaN       2.4324    0.991     1822.7262 0.1969    8769.58   0.0507    0.0043    -0.0011   -0.0001   0         0.1309    0         -0.6422   0.1246     0.0006     -0.0003    -0.0232    -0.0016    -0.0017    -0.0043    0.0011     -0.0351    -0.0382    NaN        NaN        NaN        0.4675     0.9449     0          768.1313   0.9904     59.1313    0.6047     0.9755     6.3534     15.87      3.15       15.87      15.84      1.045      2.582      0.5323     3.555      -0.4258    0.7785     0.9997     2.3122     1006.4594  38.0592    85         199.8      100.1      47.2       219.162    0.4712     0          5.57       0.004      0.0592     0.0357     0.039      0.0221     12.173     0          10.423     6.511      0.3257     0.0146     11.8742    0.35       0.0414     NaN        NaN        906        380        3296       1672       0.165      0.071      0.259      1.8        1.4        0.132      0.554      0.9386     0.0356     0.2618     0.4391     0.2618     0.8567     0.2452     0.39       0          0          16.24      0.664      15.13      23.898     0.1186     6.66       0          13.16      29.118     0          0          0          0          0          0          0.139      6.25       24.72      0.89       9.23       10.43      6.25       7.851      22.36      0.3593     27.08      0          18.35      172.349    0          0.156      0.0488     0.0767     0.0165     0.0811     0.0809     0.0777     0.0855     2.8763     0.0047     NaN        0.0811     0.0009     81.2722    0.0388     1386.9004  0          0.0166     0.0171     0          0          0          0          0          0          0          0          0          0.0055     0.0042     0          0          0          0          NaN        NaN        NaN        0.0283     0.0136     0          139.957    0.0015     2.3663           0.035
Wafer-2    2987.32  2528.81  NaN       NaN       NaN      NaN      NaN      0.1195   1.6343   -0.0263   0.0116    0.9587    200.8256  0         11.9224   414.306   9.7659    0.9661    191.0598  12.4761   1.4014    -5441     2547      -5585     -4198     1.304     1.97      7.2402    67.2      2.3889    0.1798    3.3374    85.7939   8.6572    50.2073   63.9008   49.7927   65.0894   86.6078   117.2894  1.434     1.772     70        363.3318  9.8752    145.1145  753.9565  1.2563    136.1173  1         644.5636  234.3188  0         4.668     4.94      2839      0.9267    0.9449    4.4913    3.97      365.7073  9.9405    129.0845  9.8192    16.03     22.4489   731.5075  0.8482    142.5227  1         637.3145  114.1296  169.1827  468.1318  0         0.0092    -0.008    0.0258    0.0028    0.0308    -0.0141   -0.0458   0.052     7.4077    0.133     NaN       2.3997    0.9907    1769.7554 0.1768    9605.01   0.039     -0.0014   -0.0002   -0.0002   0.0001    0.2732    0         -0.4266   0.0084     -0.0002    -0.0002    -0.0123    -0.0051    -0.0001    0.0014     0.0002     -0.0631    -0.1001    NaN        NaN        NaN        NaN        0.9322     0          852.5298   0.9904     58.8213    0.6063     0.9785     6.3013     15.87      3.15       15.87      15.84      1.045      2.582      0.5323     3.555      -0.4258    0.7785     0.9997     2.3122     1006.4594  38.0592    73         81         84.7       NaN        NaN        NaN        NaN        NaN        0.0048     0.1115     0.0466     0.04       0.023      5.3652     0          5.516      9.234      0.4476     0.017      5.166      0.49       0.0712     NaN        NaN        227        339        3142       7289       0.08       0.082      0.221      1.5        1.1        0.138      0.428      0.9784     0.0695     0.3454     0.497      0.3455     0.8885     0.2894     0.314      0          0          22.23      0.388      9.45       20.285     0.0931     6.88       0          16.41      53.586     0          0          0          0          0          0          0.264      4.46       24.76      0.9        8.04       11.21      4.46       5.174      20.259     0.2116     9.29       0          21.76      57.947     0          0.0955     0.0393     0.0925     0.0807     0.0655     0.0888     0.0839     0.0423     4.1294     0.0032     NaN        0.0857     0.0006     161.8708   0.1585     453.9004   0          0.0144     0.0161     0          0          0          0          0          0          0          0          0          0.0045     0.006      0          0          0          0          NaN        NaN        NaN        NaN        0.014      0          40.675     0.001      3.36            0.0275
Wafer-3    NaN      2481.85  2207.3889 962.5317  1.2043   100      104.0311 0.121    1.5559   0.0002    -0.0044   0.9617    196.6315  0         13.6262   410.695   10.3503   0.9684    186.2811  12.4761   1.4061    -5434     2617.5    -3876.75  -309.75   1.31      2.0095    7.3445    65.1667   2.7222    0.2469    3.4194    85.3498   8.6397    50.6324   64.1999   49.3676   65.349    86.7217   117.674   4.198     0.9003    70        362.3936  9.9044    146.5309  755.3269  1.238     136.5327  1         645.4573  226.1465  0         4.668     4.94      2839      0.9267    0.9449    4.4913    0.12      364.0564  10.06     126.6509  11.5491   19.88     27.2876   728.0393  0.8824    143.2009  1         633.9082  99.9672   166.6559  467.2523  0         0.0157    0.0054    -0.0638   -0.0275   0.0042    -0.0378   -0.0309   0.0455    6.8927    0.1323    NaN       2.3914    0.9903    1859.4925 0.1937    9233.7999 -0.1293   -0.0023   -0.0004   0         0         -0.0293   0         0.2443    -0.0372    -0.0003    0.0009     0.0776     -0.0092    0.0005     0.002      -0.0001    -0.3074    0.2088     NaN        NaN        NaN        NaN        0.9476     0          804.2368   0.9906     58.6908    0.6039     0.9791     6.3145     15.87      3.15       15.87      15.84      1.045      2.582      0.5323     3.555      -0.4258    0.7785     0.9997     2.3122     1006.4594  38.0592    152        NaN        73.9       74.7       416.4299   0.3067     0          6.11       0.0053     0.0617     0.0299     0.0583     0.0223     12.1976    0          10.104     3.524      0.3507     0.0167     11.8589    0.49       0.0421     NaN        NaN        1001       429        4335       900        0.13       0.011      0.197      2.2        0.9        0.139      0.317      0.8505     0.1437     0.3962     0.6196     0.3962     0.9807     0.1998     0.196      0          0          21.52      0.401      8.5        20.909     0.1097     6.16       0          15.4       71.007     0          0          0          0          0          0          0.264      5.9        19.95      0.863      7.58       17.51      5.9        6.534      23.169     0.1493     8.33       0          17.51      72.576     0          0.0954     0.0658     0.043      0.0766     0.0873     0.118      0.1087     0.0579     7.3083     0.0028     NaN        0.0448     0.0017     122.2117   0.0894     629.9004   0          0.038      0.0217     0          0          0          0          0          0          0          0          0          0.0059     0.0042     0          0          0          0          NaN        NaN        NaN        NaN        0.0116     0          62.2225    0.0008     3.447           0.0263
Wafer-4    3002.27  2497.45  2207.3889 962.5317  1.2043   100      104.0311 0.121    1.5465   0.0195    -0.0114   0.9491    199.6394  0         15.4346   418.2477  10.3647   0.9706    189.2748  12.4761   1.406     -5310.25  2717.5    -3641.5   65.25     1.3122    1.9715    7.2113    66.3556   2.9222    0.2556    3.3751    85.3498   8.6397    50.6324   64.1999   49.3676   65.349    86.7217   117.674   5.988     0.0259    70        361.0045  9.9768    145.8655  754.3495  1.2077    144.0927  1         650.9627  258.5432  0         4.632     4.908     2845      0.9231    0.9438    4.5554    -3.6564   363.3227  10.0374   122.2091  10.1218   23.6564   31.9128   722.4367  0.9885    155.3091  1         640.8409  102.0085  175.3178  465.5231  0         -0.0336   -0.0442   0.0089    -0.0256   0.0498    -0.0477   -0.039    0.0217    7.242     0.1401    NaN       2.4382    0.9912    1765.2057 0.1606    8189.1601 0.0591    0.0017    -0.0007   -0.0002   0.0001    0.281     0         -0.4718   -0.04      -0.0001    -0.0002    -0.018     -0.0072    0.0005     -0.0017    0.0006     -0.0385    -0.0243    NaN        NaN        NaN        NaN        0.936      0          700.0255   0.9903     58.9384    0.5931     0.9686     6.2861     15.86      3.361      15.91      15.88      1.087      2.631      0.4999     2.996      0.0473     0.7777     0.9967     2.3124     1006.8463  39.9863    92         55.5       58.7       74.7       416.4299   0.3067     0          6.11       0.0053     0.1005     0.0504     0.0579     0.0282     9.3605     0          14.962     6.432      0.2777     0.0142     9.0966     0.49       0.0776     NaN        NaN        668        385        2354       1144       0.087      0.091      0.175      2.6        0.9        0.213      0.485      0.8505     0.1437     0.3962     0.6196     0.3962     0.9807     0.1998     0.196      0          0          21.56      0.241      9.32       20.101     0.1032     6.37       0          17.45      100.216    0          0          0          0          0          0          0.27       5.81       16.48      1.069      6.18       16.13      5.81       8.242      23.748     0.2555     6.93       0          16.13      88.174     0          0.1077     0.0536     0.1043     0.0936     0.0776     0.0296     0.0737     0.0892     4.2643     0.0046     NaN        0.0804     0.0012     121.6108   0.0665     361.5996   0          0.0155     0.0139     0          0          0          0          0          0          0          0          0          0.0031     0.0042     0          0          0          0          NaN        NaN        NaN        NaN        0.0224     0          49.4254    0.001      3.2127          0.0198
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ...

In [5]:
type(ds) #type of this dataset is dataframe
#dataframe is tabular structure data

pandas.core.frame.DataFrame

In [6]:
ds.head() #shows first 5 rows including 1st row. which is col header

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Table 1
NaN     Sensor-1 Sensor-2 Sensor-3  Sensor-4  Sensor-5 Sensor-6 Sensor-7 Sensor-8 Sensor-9 Sensor-10 Sensor-11 Sensor-12 Sensor-13 Sensor-14 Sensor-15 Sensor-16 Sensor-17 Sensor-18 Sensor-19 Sensor-20 Sensor-21 Sensor-22 Sensor-23 Sensor-24 Sensor-25 Sensor-26 Sensor-27 Sensor-28 Sensor-29 Sensor-30 Sensor-31 Sensor-32 Sensor-33 Sensor-34 Sensor-35 Sensor-36 Sensor-37 Sensor-38 Sensor-39 Sensor-40 Sensor-41 Sensor-42 Sensor-43 Sensor-44 Sensor-45 Sensor-46 Sensor-47 Sensor-48 Sensor-49 Sensor-50 Sensor-51 Sensor-52 Sensor-53 Sensor-54 Sensor-55 Sensor-56 Sensor-57 Sensor-58 Sensor-59 Sensor-60 Sensor-61 Sensor-62 Sensor-63 Sensor-64 Sensor-65 Sensor-66 Sensor-67 Sensor-68 Sensor-69 Sensor-70 Sensor-71 Sensor-72 Sensor-73 Sensor-74 Sensor-75 Sensor-76 Sensor-77 Sensor-78 Sensor-79 Sensor-80 Sensor-81 Sensor-82 Sensor-83 Sensor-84 Sensor-85 Sensor-86 Sensor-87 Sensor-88 Sensor-89 Sensor-90 Sensor-91 Sensor-92 Sensor-93 Sensor-94 Sensor-95 Sensor-96 Sensor-97 Sensor-98 Sensor-99 Sensor-100 Sensor-101 Sensor-102 Sensor-103 Sensor-104 Sensor-105 Sensor-106 Sensor-107 Sensor-108 Sensor-109 Sensor-110 Sensor-111 Sensor-112 Sensor-113 Sensor-114 Sensor-115 Sensor-116 Sensor-117 Sensor-118 Sensor-119 Sensor-120 Sensor-121 Sensor-122 Sensor-123 Sensor-124 Sensor-125 Sensor-126 Sensor-127 Sensor-128 Sensor-129 Sensor-130 Sensor-131 Sensor-132 Sensor-133 Sensor-134 Sensor-135 Sensor-136 Sensor-137 Sensor-138 Sensor-139 Sensor-140 Sensor-141 Sensor-142 Sensor-143 Sensor-144 Sensor-145 Sensor-146 Sensor-147 Sensor-148 Sensor-149 Sensor-150 Sensor-151 Sensor-152 Sensor-153 Sensor-154 Sensor-155 Sensor-156 Sensor-157 Sensor-158 Sensor-159 Sensor-160 Sensor-161 Sensor-162 Sensor-163 Sensor-164 Sensor-165 Sensor-166 Sensor-167 Sensor-168 Sensor-169 Sensor-170 Sensor-171 Sensor-172 Sensor-173 Sensor-174 Sensor-175 Sensor-176 Sensor-177 Sensor-178 Sensor-179 Sensor-180 Sensor-181 Sensor-182 Sensor-183 Sensor-184 Sensor-185 Sensor-186 Sensor-187 Sensor-188 Sensor-189 Sensor-190 Sensor-191 Sensor-192 Sensor-193 Sensor-194 Sensor-195 Sensor-196 Sensor-197 Sensor-198 Sensor-199 Sensor-200 Sensor-201 Sensor-202 Sensor-203 Sensor-204 Sensor-205 Sensor-206 Sensor-207 Sensor-208 Sensor-209 Sensor-210 Sensor-211 Sensor-212 Sensor-213 Sensor-214 Sensor-215 Sensor-216 Sensor-217 Sensor-218 Sensor-219 Sensor-220 Sensor-221 Sensor-222 Sensor-223 Sensor-224 Sensor-225 Sensor-226 Sensor-227 Sensor-228 Sensor-229 Sensor-230 Sensor-231 Sensor-232 Sensor-233 Sensor-234 Sensor-235 Sensor-236 Sensor-237 Sensor-238 Sensor-239 Sensor-240 Sensor-241 Sensor-242 Sensor-243 Sensor-244 Sensor-245 Sensor-246 Sensor-247 Sensor-248 Sensor-249 Sensor-250 Sensor-251 Sensor-252 Sensor-253  Sensor-254
Wafer-1 2988.3   2519.05  2208.8556 1157.7224 1.5509   100      107.8022 0.1233   1.5362   -0.0259   -0.0179   0.9614    197.1793  0         13.3419   404.5667  10.1924   0.9697    186.9869  12.5635   1.4075    -5469.25  2685.5    -4006.5   -1275.5   1.318     2.0157    7.4305    65.0778   2.4556    0.2184    3.4522    84.9105   8.6789    50.51     64.1125   49.49     65.1951   86.6867   117.0442  76.9      1.279     70        364.49    9.7316    133.5982  734.4697  0.8523    134.74    1         632.8282  125.4382  0         4.486     4.748     2936      0.9139    0.9447    4.5873    22.4736   361.6618  10.3268   116.0718  9.9538    17.5264   22.8371   711.6326  1.1173    147.6491  1         625.3827  112.5148  160.6463  464.7365  0         -0.0139   -0.0727   -0.0145   0.0025    0.0673    -0.1092   -0.0111   -0.0019   7.5953    0.1392    NaN       2.4324    0.991     1822.7262 0.1969    8769.58   0.0507    0.0043    -0.0011   -0.0001   0         0.1309    0         -0.6422   0.1246     0.0006     -0.0003    -0.0232    -0.0016    -0.0017    -0.0043    0.0011     -0.0351    -0.0382    NaN        NaN        NaN        0.4675     0.9449     0          768.1313   0.9904     59.1313    0.6047     0.9755     6.3534     15.87      3.15       15.87      15.84      1.045      2.582      0.5323     3.555      -0.4258    0.7785     0.9997     2.3122     1006.4594  38.0592    85         199.8      100.1      47.2       219.162    0.4712     0          5.57       0.004      0.0592     0.0357     0.039      0.0221     12.173     0          10.423     6.511      0.3257     0.0146     11.8742    0.35       0.0414     NaN        NaN        906        380        3296       1672       0.165      0.071      0.259      1.8        1.4        0.132      0.554      0.9386     0.0356     0.2618     0.4391     0.2618     0.8567     0.2452     0.39       0          0          16.24      0.664      15.13      23.898     0.1186     6.66       0          13.16      29.118     0          0          0          0          0          0          0.139      6.25       24.72      0.89       9.23       10.43      6.25       7.851      22.36      0.3593     27.08      0          18.35      172.349    0          0.156      0.0488     0.0767     0.0165     0.0811     0.0809     0.0777     0.0855     2.8763     0.0047     NaN        0.0811     0.0009     81.2722    0.0388     1386.9004  0          0.0166     0.0171     0          0          0          0          0          0          0          0          0          0.0055     0.0042     0          0          0          0          NaN        NaN        NaN        0.0283     0.0136     0          139.957    0.0015     2.3663           0.035
Wafer-2 2987.32  2528.81  NaN       NaN       NaN      NaN      NaN      0.1195   1.6343   -0.0263   0.0116    0.9587    200.8256  0         11.9224   414.306   9.7659    0.9661    191.0598  12.4761   1.4014    -5441     2547      -5585     -4198     1.304     1.97      7.2402    67.2      2.3889    0.1798    3.3374    85.7939   8.6572    50.2073   63.9008   49.7927   65.0894   86.6078   117.2894  1.434     1.772     70        363.3318  9.8752    145.1145  753.9565  1.2563    136.1173  1         644.5636  234.3188  0         4.668     4.94      2839      0.9267    0.9449    4.4913    3.97      365.7073  9.9405    129.0845  9.8192    16.03     22.4489   731.5075  0.8482    142.5227  1         637.3145  114.1296  169.1827  468.1318  0         0.0092    -0.008    0.0258    0.0028    0.0308    -0.0141   -0.0458   0.052     7.4077    0.133     NaN       2.3997    0.9907    1769.7554 0.1768    9605.01   0.039     -0.0014   -0.0002   -0.0002   0.0001    0.2732    0         -0.4266   0.0084     -0.0002    -0.0002    -0.0123    -0.0051    -0.0001    0.0014     0.0002     -0.0631    -0.1001    NaN        NaN        NaN        NaN        0.9322     0          852.5298   0.9904     58.8213    0.6063     0.9785     6.3013     15.87      3.15       15.87      15.84      1.045      2.582      0.5323     3.555      -0.4258    0.7785     0.9997     2.3122     1006.4594  38.0592    73         81         84.7       NaN        NaN        NaN        NaN        NaN        0.0048     0.1115     0.0466     0.04       0.023      5.3652     0          5.516      9.234      0.4476     0.017      5.166      0.49       0.0712     NaN        NaN        227        339        3142       7289       0.08       0.082      0.221      1.5        1.1        0.138      0.428      0.9784     0.0695     0.3454     0.497      0.3455     0.8885     0.2894     0.314      0          0          22.23      0.388      9.45       20.285     0.0931     6.88       0          16.41      53.586     0          0          0          0          0          0          0.264      4.46       24.76      0.9        8.04       11.21      4.46       5.174      20.259     0.2116     9.29       0          21.76      57.947     0          0.0955     0.0393     0.0925     0.0807     0.0655     0.0888     0.0839     0.0423     4.1294     0.0032     NaN        0.0857     0.0006     161.8708   0.1585     453.9004   0          0.0144     0.0161     0          0          0          0          0          0          0          0          0          0.0045     0.006      0          0          0          0          NaN        NaN        NaN        NaN        0.014      0          40.675     0.001      3.36            0.0275
Wafer-3 NaN      2481.85  2207.3889 962.5317  1.2043   100      104.0311 0.121    1.5559   0.0002    -0.0044   0.9617    196.6315  0         13.6262   410.695   10.3503   0.9684    186.2811  12.4761   1.4061    -5434     2617.5    -3876.75  -309.75   1.31      2.0095    7.3445    65.1667   2.7222    0.2469    3.4194    85.3498   8.6397    50.6324   64.1999   49.3676   65.349    86.7217   117.674   4.198     0.9003    70        362.3936  9.9044    146.5309  755.3269  1.238     136.5327  1         645.4573  226.1465  0         4.668     4.94      2839      0.9267    0.9449    4.4913    0.12      364.0564  10.06     126.6509  11.5491   19.88     27.2876   728.0393  0.8824    143.2009  1         633.9082  99.9672   166.6559  467.2523  0         0.0157    0.0054    -0.0638   -0.0275   0.0042    -0.0378   -0.0309   0.0455    6.8927    0.1323    NaN       2.3914    0.9903    1859.4925 0.1937    9233.7999 -0.1293   -0.0023   -0.0004   0         0         -0.0293   0         0.2443    -0.0372    -0.0003    0.0009     0.0776     -0.0092    0.0005     0.002      -0.0001    -0.3074    0.2088     NaN        NaN        NaN        NaN        0.9476     0          804.2368   0.9906     58.6908    0.6039     0.9791     6.3145     15.87      3.15       15.87      15.84      1.045      2.582      0.5323     3.555      -0.4258    0.7785     0.9997     2.3122     1006.4594  38.0592    152        NaN        73.9       74.7       416.4299   0.3067     0          6.11       0.0053     0.0617     0.0299     0.0583     0.0223     12.1976    0          10.104     3.524      0.3507     0.0167     11.8589    0.49       0.0421     NaN        NaN        1001       429        4335       900        0.13       0.011      0.197      2.2        0.9        0.139      0.317      0.8505     0.1437     0.3962     0.6196     0.3962     0.9807     0.1998     0.196      0          0          21.52      0.401      8.5        20.909     0.1097     6.16       0          15.4       71.007     0          0          0          0          0          0          0.264      5.9        19.95      0.863      7.58       17.51      5.9        6.534      23.169     0.1493     8.33       0          17.51      72.576     0          0.0954     0.0658     0.043      0.0766     0.0873     0.118      0.1087     0.0579     7.3083     0.0028     NaN        0.0448     0.0017     122.2117   0.0894     629.9004   0          0.038      0.0217     0          0          0          0          0          0          0          0          0          0.0059     0.0042     0          0          0          0          NaN        NaN        NaN        NaN        0.0116     0          62.2225    0.0008     3.447           0.0263
Wafer-4 3002.27  2497.45  2207.3889 962.5317  1.2043   100      104.0311 0.121    1.5465   0.0195    -0.0114   0.9491    199.6394  0         15.4346   418.2477  10.3647   0.9706    189.2748  12.4761   1.406     -5310.25  2717.5    -3641.5   65.25     1.3122    1.9715    7.2113    66.3556   2.9222    0.2556    3.3751    85.3498   8.6397    50.6324   64.1999   49.3676   65.349    86.7217   117.674   5.988     0.0259    70        361.0045  9.9768    145.8655  754.3495  1.2077    144.0927  1         650.9627  258.5432  0         4.632     4.908     2845      0.9231    0.9438    4.5554    -3.6564   363.3227  10.0374   122.2091  10.1218   23.6564   31.9128   722.4367  0.9885    155.3091  1         640.8409  102.0085  175.3178  465.5231  0         -0.0336   -0.0442   0.0089    -0.0256   0.0498    -0.0477   -0.039    0.0217    7.242     0.1401    NaN       2.4382    0.9912    1765.2057 0.1606    8189.1601 0.0591    0.0017    -0.0007   -0.0002   0.0001    0.281     0         -0.4718   -0.04      -0.0001    -0.0002    -0.018     -0.0072    0.0005     -0.0017    0.0006     -0.0385    -0.0243    NaN        NaN        NaN        NaN        0.936      0          700.0255   0.9903     58.9384    0.5931     0.9686     6.2861     15.86      3.361      15.91      15.88      1.087      2.631      0.4999     2.996      0.0473     0.7777     0.9967     2.3124     1006.8463  39.9863    92         55.5       58.7       74.7       416.4299   0.3067     0          6.11       0.0053     0.1005     0.0504     0.0579     0.0282     9.3605     0          14.962     6.432      0.2777     0.0142     9.0966     0.49       0.0776     NaN        NaN        668        385        2354       1144       0.087      0.091      0.175      2.6        0.9        0.213      0.485      0.8505     0.1437     0.3962     0.6196     0.3962     0.9807     0.1998     0.196      0          0          21.56      0.241      9.32       20.101     0.1032     6.37       0          17.45      100.216    0          0          0          0          0          0          0.27       5.81       16.48      1.069      6.18       16.13      5.81       8.242      23.748     0.2555     6.93       0          16.13      88.174     0          0.1077     0.0536     0.1043     0.0936     0.0776     0.0296     0.0737     0.0892     4.2643     0.0046     NaN        0.0804     0.0012     121.6108   0.0665     361.5996   0          0.0155     0.0139     0          0          0          0          0          0          0          0          0          0.0031     0.0042     0          0          0          0          NaN        NaN        NaN        NaN        0.0224     0          49.4254    0.001      3.2127          0.0198

In [7]:
ds.tail()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           Table 1
Wafer-1533 2899.41 2464.36 2179.7333 3085.3781 1.4843 100 82.2467 0.1248 1.3424 -0.0045 -0.0057 0.9579 203.9867 0   11.7692 419.3404 10.2397 0.9693 193.747  12.5373 1.4072 -5418.75 2608   -6228.25 356    1.2817 1.954  7.0793 71.1444 2.2222 0.1753 3.468  83.8405 8.7164 50.2482 64.3573 49.7518 66.2013 86.3672 120.5156 81.21 1.427 70 369.9009 10.3149 128.6527 739.615  1.0736 138.0482 1 636.6018 56.3603  0 4.658 4.905 2864 0.9204 0.9496 4.4941 2.8182  368.4282 10.7991 111.4709 9.4918  17.1818 22.4678 717.1472 0.9923 147.2109 1 627.11   100.7715 NaN      NaN      0 NaN NaN NaN NaN NaN NaN NaN NaN 7.7716 0.1309 NaN    2.3762 0.9861 1869.4215 0.1804 9201.7201 0.1671  0.0002  0.0011  0       0      -0.0382 0 0.073   0.0884  0       0       -0.0988 -0.0094 -0.0012 -0.0002 -0.0011 -0.0373 -0.1257 0.9833 102.0542 231.1404 NaN 0.952  0 727.6761 0.9894 58.3514 NaN 0.9636 6.4295 15.69 4.947 15.73 15.67 1.541 2.454 0.8012 3.135 0       0.5768 0.9975 2.2886 997.7594  41.986  212 96.1  155   32.3999 1635.3   0.3124 0 9.59 0.0019 0.127  0.0322 0.056  0.0247 12.6181 0   8.107 6.819  0.4915 0.0155 12.2102 0.23 0.0179 NaN NaN 1280 334 7112 565  0.123 0.159 0.26  5.9 2.2 0.137 0.585 0.7184 0.0885 0.3017 0.455  0.3017 0.6572 0.2718 0.159 0 0 23.23 0.783 13.18 14.104 0.1506 6.46 0 16.19 29.69  0 0 0 0 0 0 0.088 7.67  20.7  0.369 7.93 12.71 7.67  9.0119 15.915 0.1204 6.53  0 12.71 65.531  0 NaN NaN NaN NaN NaN NaN NaN NaN 5.1355 0.0039 NaN    0.0807 0.0027 134.6324 0.0307 526.1006  0 0.0122 0.0187 0 0 0 0 0 0 0 0 0 0.005  0.0028 0 0 0 0 0.0008 2.8117 4.7703 NaN 0.0173 0 54.6842  0.0012 3.5114     NaN
Wafer-1534 3052.31 2522.55 2198.5667 1124.6595 0.8763 100 98.4689 0.1205 1.4333 -0.0061 -0.0093 0.9618 204.0173 0   9.162   405.8178 10.2285 0.9696 193.7889 12.402  1.3949 -6408.75 2277.5 -3675.5  339    1.087  1.8023 5.1515 72.8444 2      0.1416 4.7088 84.0623 8.9607 50.2067 64.1176 49.7934 66.1488 86.4051 120.2552 79.43 2.945 70 351.4055 9.7453  151.0709 745.4058 0.8566 132.9045 1 635.3809 158.273  0 4.585 4.803 2829 0.9255 0.9546 4.5305 -3.3555 349.6427 10.1602 127.7155 13.2491 23.3555 31.4027 714.0031 0.4904 144.7736 1 622.1318 131.2343 158.7832 463.3486 0 NaN NaN NaN NaN NaN NaN NaN NaN 7.4522 0.1371 NaN    2.488  0.9911 1872.5133 0.1949 8624.8599 -0.357  -0.0055 0.0026  0       0.0001 -0.0821 0 0.4289  -0.0372 -0.0004 0.0002  0.0855  -0.0116 0.0005  0.0055  -0.0026 0.035   -0.029  0.9824 97.5426  235.2582 NaN 0.9561 0 755.7527 0.9899 57.102  NaN 0.9806 6.2902 15.92 1.671 15.91 15.87 1.309 2.783 0.3161 3.805 -0.1419 0.8712 1      2.2877 1015.7622 42.9394 88  235.3 219.8 59.2    355.026  0.1119 0 6.86 0.0039 0.111  0.0468 0.0571 0.0213 12.7883 0   7.625 6.953  0.2046 0.0154 12.7164 0.28 0.081  NaN NaN 504  94  315  367  0.055 0.043 0.268 2.7 0.7 0.062 0.081 0.6214 0.0961 0.4711 0.6507 0.4711 0.6833 0.1082 0.414 0 0 20.52 0.58  7.24  30.347 0.0736 10.3 0 16.83 29.344 0 0 0 0 0 0 0.249 4.67  19.23 0.595 8.5  24.47 4.67  5.441  32.053 0.1408 9.54  0 24.47 151.826 0 NaN NaN NaN NaN NaN NaN NaN NaN 3.3349 0.0086 NaN    0.0799 0.0014 171.2301 0.1098 406.5     0 0.0449 0.0223 0 0 0 0 0 0 0 0 0 0.0034 0.0035 0 0 0 0 0.0019 2.4209 3.6878 NaN 0.0049 0 47.9077  0.0012 2.6542     NaN
Wafer-1535 2978.81 2379.78 2206.3    1110.4967 0.8236 100 99.4122 0.1208 NaN    NaN     NaN     NaN    NaN      NaN NaN     NaN      NaN     NaN    NaN      12.4555 1.4256 -5153.25 2707   -4102    -1226  1.293  1.9435 7.2315 71.2667 2.2333 0.1659 3.4912 85.8638 8.1728 50.9333 64.4062 49.0667 65.8936 86.3506 117.8912 82.03 2.863 70 350.3145 9.9572  134.8609 724.8053 1.3337 142.8818 1 628.0573 216.6705 0 4.596 4.83  2804 0.9353 0.9516 4.6118 1.1664  348.5336 10.388  116.0273 10.6773 18.8336 25.8939 698.9114 0.9078 152.8191 1 617.38   97.2315  NaN      NaN      0 NaN NaN NaN NaN NaN NaN NaN NaN 7.7772 0.1326 0.1119 2.459  0.9869 1820.3629 0.158  8992.6702 -0.0223 0.0034  -0.0001 -0.0002 0      0.2516  0 -0.4311 -0.0177 -0.0001 -0.0002 0.0022  -0.0142 0.0002  -0.0033 0.0001  -0.0978 0.0486  0.9839 101.4167 231.2249 NaN 0.9488 0 704.2686 0.9891 59.2046 NaN 0.9767 6.279  NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN     NaN    NaN    NaN    NaN       NaN     85  146.9 134   73.4001 300.262  0.1071 0 7.59 0.0043 NaN    NaN    NaN    NaN    NaN     NaN NaN   NaN    NaN    NaN    NaN     0.29 0.0467 NaN NaN 1178 542 3662 1355 0.109 0.074 0.273 3.2 1.9 0.151 0.529 0.6512 0.1731 0.3852 0.4033 0.3852 0.8963 0.2043 0.79  0 0 20.07 0.515 8.74  20.963 0.1666 4.06 0 14.64 81.803 0 0 0 0 0 0 0.205 8.15  21.74 0.175 3.92 19.37 8.15  11.321 29.379 0.0626 5.33  0 19.37 59.503  0 NaN NaN NaN NaN NaN NaN NaN NaN 3.1351 0.0019 0.0089 0.0461 0.002  100.3093 0.0441 1089.0996 0 0.0153 0.0137 0 0 0 0 0 0 0 0 0 0.0078 0.0073 0 0 0 0 0.0007 1.918  4.5301 NaN 0.0176 0 117.3369 0.0009 3.6774     NaN
Wafer-1536 2894.92 2532.01 2177.0333 1183.7287 1.5726 100 98.7978 0.1213 1.4622 -0.0072 0.0032  0.9694 197.2448 0   9.7354  401.9153 9.863   0.974  187.3818 12.3937 1.3868 -5271.75 2676.5 -4001.5  394.75 1.2875 1.988  7.3255 70.5111 2.9667 0.2386 3.2803 84.5602 9.193  50.6547 64.0158 49.3453 66.2301 86.313  118.9288 81.13 2.067 70 370.5845 10.3144 127.4127 738.774  1.0855 141.9164 1 639.9136 69.6385  0 4.584 4.825 2883 0.9207 0.95   4.5509 4.4682  367.87   10.8024 111.8809 7.7718  15.5318 20.4223 718.3517 0.9981 152.3909 1 632.1418 96.2286  NaN      NaN      0 NaN NaN NaN NaN NaN NaN NaN NaN 7.7508 0.1369 NaN    2.36   0.9796 1627.4714 NaN    NaN       0.1759  -0.0036 -0.0034 0       0.0001 -0.0926 0 -0.1023 0.1451  0.0004  0       -0.1165 -0.0087 -0.0019 0.0036  0.0035  0.1368  -0.0219 0.9828 101.3445 233.0335 NaN 0.9485 0 605.619  0.9896 58.2686 NaN 0.9805 6.2416 15.72 4.682 15.76 15.72 1.385 2.658 0.8266 3.381 -0.9934 0.655  0.9973 2.2604 999.4826  38.6689 107 103   66.6  63.6001 365.1101 0.1737 0 6.76 0.0039 0.1268 0.0341 0.0876 0.0131 3.714   0   8.253 26.128 0.3615 0.0099 3.3812  0.24 0.0219 NaN NaN 1740 252 2702 1093 0.098 0.193 0.25  2.2 1.4 0.166 0.69  0.3993 0.2272 0.2877 0.603  0.2877 0.6709 0.3012 0.271 0 0 26.63 0.98  14.75 13.879 0.0846 5.23 0 15.26 20.392 0 0 0 0 0 0 0.523 7.32  20.66 0.459 9.06 9.49  7.32  9.095  16.211 0.0952 11.72 0 9.49  58.463  0 NaN NaN NaN NaN NaN NaN NaN NaN 3.2586 0.0037 NaN    0.0703 0.008  89.1078  NaN    NaN       0 0.0186 0.0146 0 0 0 0 0 0 0 0 0 0.0068 0.0089 0 0 0 0 0.0011 2.3094 4.6071 NaN 0.0249 0 99.4298  0.0012 3.8706     NaN
Wafer-1537 2944.92 2450.76 2195.4444 2914.1792 1.5978 100 85.1011 0.1235 NaN    NaN     NaN     NaN    NaN      NaN NaN     NaN      NaN     NaN    NaN      12.479  1.4048 -5319.5  2668   -3951.75 -425   1.302  2.0085 7.3395 73.0667 2.5889 0.2021 3.386  83.3424 8.7786 50.194  64.2226 49.806  66.2251 86.4039 120.5418 80.45 2.741 70 362.81   10.0451 142.4364 749.5107 0.8728 134.03   1 639.2764 135.5562 0 4.594 4.823 2874 0.9187 0.9524 4.5479 1.8718  362.0827 10.4236 124.3082 8.5542  18.1282 23.3129 726.1978 0.9683 146.8064 1 633.1973 125.9159 NaN      NaN      0 NaN NaN NaN NaN NaN NaN NaN NaN 7.5935 0.1362 NaN    2.3701 0.9758 1759.9908 0.1889 7952.41   0.1756  -0.0009 -0.0009 0.0001  0      -0.0728 0 0.0291  -0.0632 0.0002  0       -0.1077 -0.0102 0.0008  0.0009  0.0009  0.0521  -0.0786 0.9814 102.3153 231.3263 NaN 0.9432 0 683.5622 0.9893 59.8578 NaN 0.9636 6.4084 NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN     NaN    NaN    NaN    NaN       NaN     112 203.3 68.1  22      627.6799 0.1857 0 5.94 0.002  NaN    NaN    NaN    NaN    NaN     NaN NaN   NaN    NaN    NaN    NaN     0.23 0.0351 NaN NaN 763  304 503  1797 0.051 0.05  0.308 3.9 1.3 0.178 0.37  0.6821 0.1359 0.1841 0.3681 0.1841 0.8099 0.2183 0.465 0 0 23.35 0.718 15.74 18.859 0.1327 6.59 0 13.8  23.171 0 0 0 0 0 0 0.181 12.32 27.53 0.841 8.69 16.09 12.32 17.774 26.87  0.1944 14.31 0 25.69 96.624  0 NaN NaN NaN NaN NaN NaN NaN NaN 4.2218 0.0034 NaN    0.0658 0.0113 225.3136 0.0442 1213.0996 0 0.0158 0.0154 0 0 0 0 0 0 0 0 0 0.0077 0.0027 0 0 0 0 0.0024 1.5304 2.0715 NaN 0.0366 0 121.7717 0.0009 2.2955     NaN

In [8]:
ds.head(2)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Table 1
NaN     Sensor-1 Sensor-2 Sensor-3  Sensor-4  Sensor-5 Sensor-6 Sensor-7 Sensor-8 Sensor-9 Sensor-10 Sensor-11 Sensor-12 Sensor-13 Sensor-14 Sensor-15 Sensor-16 Sensor-17 Sensor-18 Sensor-19 Sensor-20 Sensor-21 Sensor-22 Sensor-23 Sensor-24 Sensor-25 Sensor-26 Sensor-27 Sensor-28 Sensor-29 Sensor-30 Sensor-31 Sensor-32 Sensor-33 Sensor-34 Sensor-35 Sensor-36 Sensor-37 Sensor-38 Sensor-39 Sensor-40 Sensor-41 Sensor-42 Sensor-43 Sensor-44 Sensor-45 Sensor-46 Sensor-47 Sensor-48 Sensor-49 Sensor-50 Sensor-51 Sensor-52 Sensor-53 Sensor-54 Sensor-55 Sensor-56 Sensor-57 Sensor-58 Sensor-59 Sensor-60 Sensor-61 Sensor-62 Sensor-63 Sensor-64 Sensor-65 Sensor-66 Sensor-67 Sensor-68 Sensor-69 Sensor-70 Sensor-71 Sensor-72 Sensor-73 Sensor-74 Sensor-75 Sensor-76 Sensor-77 Sensor-78 Sensor-79 Sensor-80 Sensor-81 Sensor-82 Sensor-83 Sensor-84 Sensor-85 Sensor-86 Sensor-87 Sensor-88 Sensor-89 Sensor-90 Sensor-91 Sensor-92 Sensor-93 Sensor-94 Sensor-95 Sensor-96 Sensor-97 Sensor-98 Sensor-99 Sensor-100 Sensor-101 Sensor-102 Sensor-103 Sensor-104 Sensor-105 Sensor-106 Sensor-107 Sensor-108 Sensor-109 Sensor-110 Sensor-111 Sensor-112 Sensor-113 Sensor-114 Sensor-115 Sensor-116 Sensor-117 Sensor-118 Sensor-119 Sensor-120 Sensor-121 Sensor-122 Sensor-123 Sensor-124 Sensor-125 Sensor-126 Sensor-127 Sensor-128 Sensor-129 Sensor-130 Sensor-131 Sensor-132 Sensor-133 Sensor-134 Sensor-135 Sensor-136 Sensor-137 Sensor-138 Sensor-139 Sensor-140 Sensor-141 Sensor-142 Sensor-143 Sensor-144 Sensor-145 Sensor-146 Sensor-147 Sensor-148 Sensor-149 Sensor-150 Sensor-151 Sensor-152 Sensor-153 Sensor-154 Sensor-155 Sensor-156 Sensor-157 Sensor-158 Sensor-159 Sensor-160 Sensor-161 Sensor-162 Sensor-163 Sensor-164 Sensor-165 Sensor-166 Sensor-167 Sensor-168 Sensor-169 Sensor-170 Sensor-171 Sensor-172 Sensor-173 Sensor-174 Sensor-175 Sensor-176 Sensor-177 Sensor-178 Sensor-179 Sensor-180 Sensor-181 Sensor-182 Sensor-183 Sensor-184 Sensor-185 Sensor-186 Sensor-187 Sensor-188 Sensor-189 Sensor-190 Sensor-191 Sensor-192 Sensor-193 Sensor-194 Sensor-195 Sensor-196 Sensor-197 Sensor-198 Sensor-199 Sensor-200 Sensor-201 Sensor-202 Sensor-203 Sensor-204 Sensor-205 Sensor-206 Sensor-207 Sensor-208 Sensor-209 Sensor-210 Sensor-211 Sensor-212 Sensor-213 Sensor-214 Sensor-215 Sensor-216 Sensor-217 Sensor-218 Sensor-219 Sensor-220 Sensor-221 Sensor-222 Sensor-223 Sensor-224 Sensor-225 Sensor-226 Sensor-227 Sensor-228 Sensor-229 Sensor-230 Sensor-231 Sensor-232 Sensor-233 Sensor-234 Sensor-235 Sensor-236 Sensor-237 Sensor-238 Sensor-239 Sensor-240 Sensor-241 Sensor-242 Sensor-243 Sensor-244 Sensor-245 Sensor-246 Sensor-247 Sensor-248 Sensor-249 Sensor-250 Sensor-251 Sensor-252 Sensor-253  Sensor-254
Wafer-1 2988.3   2519.05  2208.8556 1157.7224 1.5509   100      107.8022 0.1233   1.5362   -0.0259   -0.0179   0.9614    197.1793  0         13.3419   404.5667  10.1924   0.9697    186.9869  12.5635   1.4075    -5469.25  2685.5    -4006.5   -1275.5   1.318     2.0157    7.4305    65.0778   2.4556    0.2184    3.4522    84.9105   8.6789    50.51     64.1125   49.49     65.1951   86.6867   117.0442  76.9      1.279     70        364.49    9.7316    133.5982  734.4697  0.8523    134.74    1         632.8282  125.4382  0         4.486     4.748     2936      0.9139    0.9447    4.5873    22.4736   361.6618  10.3268   116.0718  9.9538    17.5264   22.8371   711.6326  1.1173    147.6491  1         625.3827  112.5148  160.6463  464.7365  0         -0.0139   -0.0727   -0.0145   0.0025    0.0673    -0.1092   -0.0111   -0.0019   7.5953    0.1392    NaN       2.4324    0.991     1822.7262 0.1969    8769.58   0.0507    0.0043    -0.0011   -0.0001   0         0.1309    0         -0.6422   0.1246     0.0006     -0.0003    -0.0232    -0.0016    -0.0017    -0.0043    0.0011     -0.0351    -0.0382    NaN        NaN        NaN        0.4675     0.9449     0          768.1313   0.9904     59.1313    0.6047     0.9755     6.3534     15.87      3.15       15.87      15.84      1.045      2.582      0.5323     3.555      -0.4258    0.7785     0.9997     2.3122     1006.4594  38.0592    85         199.8      100.1      47.2       219.162    0.4712     0          5.57       0.004      0.0592     0.0357     0.039      0.0221     12.173     0          10.423     6.511      0.3257     0.0146     11.8742    0.35       0.0414     NaN        NaN        906        380        3296       1672       0.165      0.071      0.259      1.8        1.4        0.132      0.554      0.9386     0.0356     0.2618     0.4391     0.2618     0.8567     0.2452     0.39       0          0          16.24      0.664      15.13      23.898     0.1186     6.66       0          13.16      29.118     0          0          0          0          0          0          0.139      6.25       24.72      0.89       9.23       10.43      6.25       7.851      22.36      0.3593     27.08      0          18.35      172.349    0          0.156      0.0488     0.0767     0.0165     0.0811     0.0809     0.0777     0.0855     2.8763     0.0047     NaN        0.0811     0.0009     81.2722    0.0388     1386.9004  0          0.0166     0.0171     0          0          0          0          0          0          0          0          0          0.0055     0.0042     0          0          0          0          NaN        NaN        NaN        0.0283     0.0136     0          139.957    0.0015     2.3663           0.035

In [14]:
#to read tab separated dataset. .tsv: read_table ex: notepad
# if I use read_csv for tsv file, then data will not be read in correct form
ds1= pd.read_table('/Users/melissavidiera/Desktop/test2.tsv')
ds1

    Info     Col1     Col2  Col3
0   Row1  Melissa  Vidiera   NaN
1   Row2   Whisky  Vidiera   NaN
2   Row3     Picu  Vidiera   NaN
3   Row4    Coco   Vidiera   NaN
4  Row5       NaN      NaN   NaN

In [15]:
#if I use read_csv for the .tsv data
ds2= pd.read_csv('/Users/melissavidiera/Desktop/test2.tsv')
ds2

     Info\tCol1\tCol2\tCol3
0  Row1\tMelissa\tVidiera\t
1     Row2\tWhisky\tVidiera
2       Row3\tPicu\tVidiera
3      Row4\tCoco \tVidiera
4                     Row5

In [16]:
#we can use read_csv for .tsv data but we have to mention the delimter/sepeator
ds3= pd.read_csv('/Users/melissavidiera/Desktop/test2.tsv', sep="\t")
ds3

    Info     Col1     Col2  Col3
0   Row1  Melissa  Vidiera   NaN
1   Row2   Whisky  Vidiera   NaN
2   Row3     Picu  Vidiera   NaN
3   Row4    Coco   Vidiera   NaN
4  Row5       NaN      NaN   NaN

In [17]:
#in same way I can use read_table for csv file by giving the sep as ,

ds4=pd.read_table('/Users/melissavidiera/Documents/train.csv',sep=',') 
ds4.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Table 1
NaN     Sensor-1 Sensor-2 Sensor-3  Sensor-4  Sensor-5 Sensor-6 Sensor-7 Sensor-8 Sensor-9 Sensor-10 Sensor-11 Sensor-12 Sensor-13 Sensor-14 Sensor-15 Sensor-16 Sensor-17 Sensor-18 Sensor-19 Sensor-20 Sensor-21 Sensor-22 Sensor-23 Sensor-24 Sensor-25 Sensor-26 Sensor-27 Sensor-28 Sensor-29 Sensor-30 Sensor-31 Sensor-32 Sensor-33 Sensor-34 Sensor-35 Sensor-36 Sensor-37 Sensor-38 Sensor-39 Sensor-40 Sensor-41 Sensor-42 Sensor-43 Sensor-44 Sensor-45 Sensor-46 Sensor-47 Sensor-48 Sensor-49 Sensor-50 Sensor-51 Sensor-52 Sensor-53 Sensor-54 Sensor-55 Sensor-56 Sensor-57 Sensor-58 Sensor-59 Sensor-60 Sensor-61 Sensor-62 Sensor-63 Sensor-64 Sensor-65 Sensor-66 Sensor-67 Sensor-68 Sensor-69 Sensor-70 Sensor-71 Sensor-72 Sensor-73 Sensor-74 Sensor-75 Sensor-76 Sensor-77 Sensor-78 Sensor-79 Sensor-80 Sensor-81 Sensor-82 Sensor-83 Sensor-84 Sensor-85 Sensor-86 Sensor-87 Sensor-88 Sensor-89 Sensor-90 Sensor-91 Sensor-92 Sensor-93 Sensor-94 Sensor-95 Sensor-96 Sensor-97 Sensor-98 Sensor-99 Sensor-100 Sensor-101 Sensor-102 Sensor-103 Sensor-104 Sensor-105 Sensor-106 Sensor-107 Sensor-108 Sensor-109 Sensor-110 Sensor-111 Sensor-112 Sensor-113 Sensor-114 Sensor-115 Sensor-116 Sensor-117 Sensor-118 Sensor-119 Sensor-120 Sensor-121 Sensor-122 Sensor-123 Sensor-124 Sensor-125 Sensor-126 Sensor-127 Sensor-128 Sensor-129 Sensor-130 Sensor-131 Sensor-132 Sensor-133 Sensor-134 Sensor-135 Sensor-136 Sensor-137 Sensor-138 Sensor-139 Sensor-140 Sensor-141 Sensor-142 Sensor-143 Sensor-144 Sensor-145 Sensor-146 Sensor-147 Sensor-148 Sensor-149 Sensor-150 Sensor-151 Sensor-152 Sensor-153 Sensor-154 Sensor-155 Sensor-156 Sensor-157 Sensor-158 Sensor-159 Sensor-160 Sensor-161 Sensor-162 Sensor-163 Sensor-164 Sensor-165 Sensor-166 Sensor-167 Sensor-168 Sensor-169 Sensor-170 Sensor-171 Sensor-172 Sensor-173 Sensor-174 Sensor-175 Sensor-176 Sensor-177 Sensor-178 Sensor-179 Sensor-180 Sensor-181 Sensor-182 Sensor-183 Sensor-184 Sensor-185 Sensor-186 Sensor-187 Sensor-188 Sensor-189 Sensor-190 Sensor-191 Sensor-192 Sensor-193 Sensor-194 Sensor-195 Sensor-196 Sensor-197 Sensor-198 Sensor-199 Sensor-200 Sensor-201 Sensor-202 Sensor-203 Sensor-204 Sensor-205 Sensor-206 Sensor-207 Sensor-208 Sensor-209 Sensor-210 Sensor-211 Sensor-212 Sensor-213 Sensor-214 Sensor-215 Sensor-216 Sensor-217 Sensor-218 Sensor-219 Sensor-220 Sensor-221 Sensor-222 Sensor-223 Sensor-224 Sensor-225 Sensor-226 Sensor-227 Sensor-228 Sensor-229 Sensor-230 Sensor-231 Sensor-232 Sensor-233 Sensor-234 Sensor-235 Sensor-236 Sensor-237 Sensor-238 Sensor-239 Sensor-240 Sensor-241 Sensor-242 Sensor-243 Sensor-244 Sensor-245 Sensor-246 Sensor-247 Sensor-248 Sensor-249 Sensor-250 Sensor-251 Sensor-252 Sensor-253  Sensor-254
Wafer-1 2988.3   2519.05  2208.8556 1157.7224 1.5509   100      107.8022 0.1233   1.5362   -0.0259   -0.0179   0.9614    197.1793  0         13.3419   404.5667  10.1924   0.9697    186.9869  12.5635   1.4075    -5469.25  2685.5    -4006.5   -1275.5   1.318     2.0157    7.4305    65.0778   2.4556    0.2184    3.4522    84.9105   8.6789    50.51     64.1125   49.49     65.1951   86.6867   117.0442  76.9      1.279     70        364.49    9.7316    133.5982  734.4697  0.8523    134.74    1         632.8282  125.4382  0         4.486     4.748     2936      0.9139    0.9447    4.5873    22.4736   361.6618  10.3268   116.0718  9.9538    17.5264   22.8371   711.6326  1.1173    147.6491  1         625.3827  112.5148  160.6463  464.7365  0         -0.0139   -0.0727   -0.0145   0.0025    0.0673    -0.1092   -0.0111   -0.0019   7.5953    0.1392    NaN       2.4324    0.991     1822.7262 0.1969    8769.58   0.0507    0.0043    -0.0011   -0.0001   0         0.1309    0         -0.6422   0.1246     0.0006     -0.0003    -0.0232    -0.0016    -0.0017    -0.0043    0.0011     -0.0351    -0.0382    NaN        NaN        NaN        0.4675     0.9449     0          768.1313   0.9904     59.1313    0.6047     0.9755     6.3534     15.87      3.15       15.87      15.84      1.045      2.582      0.5323     3.555      -0.4258    0.7785     0.9997     2.3122     1006.4594  38.0592    85         199.8      100.1      47.2       219.162    0.4712     0          5.57       0.004      0.0592     0.0357     0.039      0.0221     12.173     0          10.423     6.511      0.3257     0.0146     11.8742    0.35       0.0414     NaN        NaN        906        380        3296       1672       0.165      0.071      0.259      1.8        1.4        0.132      0.554      0.9386     0.0356     0.2618     0.4391     0.2618     0.8567     0.2452     0.39       0          0          16.24      0.664      15.13      23.898     0.1186     6.66       0          13.16      29.118     0          0          0          0          0          0          0.139      6.25       24.72      0.89       9.23       10.43      6.25       7.851      22.36      0.3593     27.08      0          18.35      172.349    0          0.156      0.0488     0.0767     0.0165     0.0811     0.0809     0.0777     0.0855     2.8763     0.0047     NaN        0.0811     0.0009     81.2722    0.0388     1386.9004  0          0.0166     0.0171     0          0          0          0          0          0          0          0          0          0.0055     0.0042     0          0          0          0          NaN        NaN        NaN        0.0283     0.0136     0          139.957    0.0015     2.3663           0.035
Wafer-2 2987.32  2528.81  NaN       NaN       NaN      NaN      NaN      0.1195   1.6343   -0.0263   0.0116    0.9587    200.8256  0         11.9224   414.306   9.7659    0.9661    191.0598  12.4761   1.4014    -5441     2547      -5585     -4198     1.304     1.97      7.2402    67.2      2.3889    0.1798    3.3374    85.7939   8.6572    50.2073   63.9008   49.7927   65.0894   86.6078   117.2894  1.434     1.772     70        363.3318  9.8752    145.1145  753.9565  1.2563    136.1173  1         644.5636  234.3188  0         4.668     4.94      2839      0.9267    0.9449    4.4913    3.97      365.7073  9.9405    129.0845  9.8192    16.03     22.4489   731.5075  0.8482    142.5227  1         637.3145  114.1296  169.1827  468.1318  0         0.0092    -0.008    0.0258    0.0028    0.0308    -0.0141   -0.0458   0.052     7.4077    0.133     NaN       2.3997    0.9907    1769.7554 0.1768    9605.01   0.039     -0.0014   -0.0002   -0.0002   0.0001    0.2732    0         -0.4266   0.0084     -0.0002    -0.0002    -0.0123    -0.0051    -0.0001    0.0014     0.0002     -0.0631    -0.1001    NaN        NaN        NaN        NaN        0.9322     0          852.5298   0.9904     58.8213    0.6063     0.9785     6.3013     15.87      3.15       15.87      15.84      1.045      2.582      0.5323     3.555      -0.4258    0.7785     0.9997     2.3122     1006.4594  38.0592    73         81         84.7       NaN        NaN        NaN        NaN        NaN        0.0048     0.1115     0.0466     0.04       0.023      5.3652     0          5.516      9.234      0.4476     0.017      5.166      0.49       0.0712     NaN        NaN        227        339        3142       7289       0.08       0.082      0.221      1.5        1.1        0.138      0.428      0.9784     0.0695     0.3454     0.497      0.3455     0.8885     0.2894     0.314      0          0          22.23      0.388      9.45       20.285     0.0931     6.88       0          16.41      53.586     0          0          0          0          0          0          0.264      4.46       24.76      0.9        8.04       11.21      4.46       5.174      20.259     0.2116     9.29       0          21.76      57.947     0          0.0955     0.0393     0.0925     0.0807     0.0655     0.0888     0.0839     0.0423     4.1294     0.0032     NaN        0.0857     0.0006     161.8708   0.1585     453.9004   0          0.0144     0.0161     0          0          0          0          0          0          0          0          0          0.0045     0.006      0          0          0          0          NaN        NaN        NaN        NaN        0.014      0          40.675     0.001      3.36            0.0275
Wafer-3 NaN      2481.85  2207.3889 962.5317  1.2043   100      104.0311 0.121    1.5559   0.0002    -0.0044   0.9617    196.6315  0         13.6262   410.695   10.3503   0.9684    186.2811  12.4761   1.4061    -5434     2617.5    -3876.75  -309.75   1.31      2.0095    7.3445    65.1667   2.7222    0.2469    3.4194    85.3498   8.6397    50.6324   64.1999   49.3676   65.349    86.7217   117.674   4.198     0.9003    70        362.3936  9.9044    146.5309  755.3269  1.238     136.5327  1         645.4573  226.1465  0         4.668     4.94      2839      0.9267    0.9449    4.4913    0.12      364.0564  10.06     126.6509  11.5491   19.88     27.2876   728.0393  0.8824    143.2009  1         633.9082  99.9672   166.6559  467.2523  0         0.0157    0.0054    -0.0638   -0.0275   0.0042    -0.0378   -0.0309   0.0455    6.8927    0.1323    NaN       2.3914    0.9903    1859.4925 0.1937    9233.7999 -0.1293   -0.0023   -0.0004   0         0         -0.0293   0         0.2443    -0.0372    -0.0003    0.0009     0.0776     -0.0092    0.0005     0.002      -0.0001    -0.3074    0.2088     NaN        NaN        NaN        NaN        0.9476     0          804.2368   0.9906     58.6908    0.6039     0.9791     6.3145     15.87      3.15       15.87      15.84      1.045      2.582      0.5323     3.555      -0.4258    0.7785     0.9997     2.3122     1006.4594  38.0592    152        NaN        73.9       74.7       416.4299   0.3067     0          6.11       0.0053     0.0617     0.0299     0.0583     0.0223     12.1976    0          10.104     3.524      0.3507     0.0167     11.8589    0.49       0.0421     NaN        NaN        1001       429        4335       900        0.13       0.011      0.197      2.2        0.9        0.139      0.317      0.8505     0.1437     0.3962     0.6196     0.3962     0.9807     0.1998     0.196      0          0          21.52      0.401      8.5        20.909     0.1097     6.16       0          15.4       71.007     0          0          0          0          0          0          0.264      5.9        19.95      0.863      7.58       17.51      5.9        6.534      23.169     0.1493     8.33       0          17.51      72.576     0          0.0954     0.0658     0.043      0.0766     0.0873     0.118      0.1087     0.0579     7.3083     0.0028     NaN        0.0448     0.0017     122.2117   0.0894     629.9004   0          0.038      0.0217     0          0          0          0          0          0          0          0          0          0.0059     0.0042     0          0          0          0          NaN        NaN        NaN        NaN        0.0116     0          62.2225    0.0008     3.447           0.0263
Wafer-4 3002.27  2497.45  2207.3889 962.5317  1.2043   100      104.0311 0.121    1.5465   0.0195    -0.0114   0.9491    199.6394  0         15.4346   418.2477  10.3647   0.9706    189.2748  12.4761   1.406     -5310.25  2717.5    -3641.5   65.25     1.3122    1.9715    7.2113    66.3556   2.9222    0.2556    3.3751    85.3498   8.6397    50.6324   64.1999   49.3676   65.349    86.7217   117.674   5.988     0.0259    70        361.0045  9.9768    145.8655  754.3495  1.2077    144.0927  1         650.9627  258.5432  0         4.632     4.908     2845      0.9231    0.9438    4.5554    -3.6564   363.3227  10.0374   122.2091  10.1218   23.6564   31.9128   722.4367  0.9885    155.3091  1         640.8409  102.0085  175.3178  465.5231  0         -0.0336   -0.0442   0.0089    -0.0256   0.0498    -0.0477   -0.039    0.0217    7.242     0.1401    NaN       2.4382    0.9912    1765.2057 0.1606    8189.1601 0.0591    0.0017    -0.0007   -0.0002   0.0001    0.281     0         -0.4718   -0.04      -0.0001    -0.0002    -0.018     -0.0072    0.0005     -0.0017    0.0006     -0.0385    -0.0243    NaN        NaN        NaN        NaN        0.936      0          700.0255   0.9903     58.9384    0.5931     0.9686     6.2861     15.86      3.361      15.91      15.88      1.087      2.631      0.4999     2.996      0.0473     0.7777     0.9967     2.3124     1006.8463  39.9863    92         55.5       58.7       74.7       416.4299   0.3067     0          6.11       0.0053     0.1005     0.0504     0.0579     0.0282     9.3605     0          14.962     6.432      0.2777     0.0142     9.0966     0.49       0.0776     NaN        NaN        668        385        2354       1144       0.087      0.091      0.175      2.6        0.9        0.213      0.485      0.8505     0.1437     0.3962     0.6196     0.3962     0.9807     0.1998     0.196      0          0          21.56      0.241      9.32       20.101     0.1032     6.37       0          17.45      100.216    0          0          0          0          0          0          0.27       5.81       16.48      1.069      6.18       16.13      5.81       8.242      23.748     0.2555     6.93       0          16.13      88.174     0          0.1077     0.0536     0.1043     0.0936     0.0776     0.0296     0.0737     0.0892     4.2643     0.0046     NaN        0.0804     0.0012     121.6108   0.0665     361.5996   0          0.0155     0.0139     0          0          0          0          0          0          0          0          0          0.0031     0.0042     0          0          0          0          NaN        NaN        NaN        NaN        0.0224     0          49.4254    0.001      3.2127          0.0198

In [22]:
#first column is chosen as header by default. arg in read_csv is header='infer'
ds5=pd.read_table('/Users/melissavidiera/Desktop/test2.tsv', header=None) 
ds5.head()

      0        1        2     3
0  Info     Col1     Col2  Col3
1  Row1  Melissa  Vidiera   NaN
2  Row2   Whisky  Vidiera   NaN
3  Row3     Picu  Vidiera   NaN
4  Row4    Coco   Vidiera   NaN

In [26]:
# to give own col nam e

df6= pd.read_csv('/Users/melissavidiera/Desktop/test23.csv.txt')
df6

   Info     Col1       Col2  Col3
0  Row1  Melissa  Vidiera\t   NaN
1  Row2   Whisky    Vidiera   NaN
2  Row3     Picu    Vidiera   NaN
3  Row4     Coco    Vidiera   NaN
4  Row5      Ken    Vidiera   NaN

In [30]:
#to give own col name
#name parameter in read_csv. default is none

df7= pd.read_csv('/Users/melissavidiera/Desktop/test23.csv.txt', names=['newcol1', 'newcol2', 'newcol3', 'newcol4'])
df7

  newcol1  newcol2    newcol3 newcol4
0    Info     Col1       Col2    Col3
1    Row1  Melissa  Vidiera\t     NaN
2    Row2   Whisky    Vidiera     NaN
3    Row3     Picu    Vidiera     NaN
4    Row4     Coco    Vidiera     NaN
5    Row5      Ken    Vidiera     NaN

In [31]:
#if I give more column names

df7= pd.read_csv('/Users/melissavidiera/Desktop/test23.csv.txt', names=['newcol1', 'newcol2', 'newcol3', 'newcol4',"extraCol"])
df7

  newcol1  newcol2    newcol3 newcol4  extraCol
0    Info     Col1       Col2    Col3       NaN
1    Row1  Melissa  Vidiera\t     NaN       NaN
2    Row2   Whisky    Vidiera     NaN       NaN
3    Row3     Picu    Vidiera     NaN       NaN
4    Row4     Coco    Vidiera     NaN       NaN
5    Row5      Ken    Vidiera     NaN       NaN

In [34]:
df7= pd.read_csv('/Users/melissavidiera/Desktop/test23.csv.txt', names=['newcol3', 'newcol4'])
df7
#if there is less column names given then column names are assigned to last columns

                newcol3 newcol4
Info Col1          Col2    Col3
Row1 Melissa  Vidiera\t     NaN
Row2 Whisky     Vidiera     NaN
Row3 Picu       Vidiera     NaN
Row4 Coco       Vidiera     NaN
Row5 Ken        Vidiera     NaN

In [35]:
df7= pd.read_csv('/Users/melissavidiera/Desktop/test23.csv.txt', names=['newcol1', 'newcol2', 'newcol3', 'newcol4',"extraCol"])
df7

  newcol1  newcol2    newcol3 newcol4  extraCol
0    Info     Col1       Col2    Col3       NaN
1    Row1  Melissa  Vidiera\t     NaN       NaN
2    Row2   Whisky    Vidiera     NaN       NaN
3    Row3     Picu    Vidiera     NaN       NaN
4    Row4     Coco    Vidiera     NaN       NaN
5    Row5      Ken    Vidiera     NaN       NaN

## Multilevel indexing

In the below shown table under key1
we have 2 entries

one and two. 
now we need to save data of key 2 and rest of columns inside key1 One and Two 
in 1st 3 entry, we have same key1: One and which stands for other 3 entries as well
like 1 to many 
than storing each data entry which has same key1 value.

Use parameter index_col under read_csv
so consider key1 and key2

By default 0,1,2,3 .. are original indices (displayed in bold)
Now I want to keep key1 as index
Also, I want to create heirachical index: index within index

In [38]:


df8= pd.read_csv("/Users/melissavidiera/Documents/test3.csv")
df8

  Key 1 Key 2  Value 1 Value 2
0   One     a        1       f
1   One     b        2       e
2   One     c       34       g
3   Two     c        5       g
4   Two     d        6       r
5   Two     d        8       m

In [39]:
#making key1 col as index. (displayed in bold)

df9= pd.read_csv("/Users/melissavidiera/Documents/test3.csv", index_col= ['Key 1'])
df9

      Key 2  Value 1 Value 2
Key 1
One       a        1       f
One       b        2       e
One       c       34       g
Two       c        5       g
Two       d        6       r
Two       d        8       m

In [40]:
# 2 level indices
# mention 2 row names inside[]

df10= pd.read_csv("/Users/melissavidiera/Documents/test3.csv", index_col= ['Key 1','Key 2'])
df10

#in this case if I want 'f' or 1 then it is available in one[a] value

             Value 1 Value 2
Key 1 Key 2
One   a            1       f
      b            2       e
      c           34       g
Two   c            5       g
      d            6       r
      d            8       m

In [45]:
df11= pd.read_csv("test4.csv") #in this case I need not to give entire path as test4 and
#current python worksheet are in same location documents
df11

                          # hey Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0                             a          b          c          d   messages
1     This is just jumbled data        NaN        NaN        NaN        NaN
2  There is no proper dataframe        NaN        NaN        NaN        NaN
3                             1          2          3          4          5
4                          kjhu         ft        poi        7oj      cggfc
5                       Melissa     Whisky       Coco       Picu        Ken

In [50]:
#so here if I want to read just few rows which I want to read
df12= pd.read_csv("test4.csv", skiprows=[0,2,3])
df12

         a       b     c     d messages
0        1       2     3     4        5
1     kjhu      ft   poi   7oj    cggfc
2  Melissa  Whisky  Coco  Picu      Ken

In [5]:
df12= pd.read_csv("test4.csv")
df12

                          # hey Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0                             a          b          c          d   messages
1     This is just jumbled data        NaN        NaN        NaN        NaN
2  There is no proper dataframe        NaN        NaN        NaN        NaN
3                             1          2          3          4          5
4                          kjhu         ft        poi        7oj      cggfc
5                       Melissa     Whisky       Coco       Picu        Ken

In [6]:
#here we have null data NaN in many entries. To check if there is null, then se isnull
pd.isnull(df12)
#which entry it is true, it has null data

   # hey  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0  False       False       False       False       False
1  False        True        True        True        True
2  False        True        True        True        True
3  False       False       False       False       False
4  False       False       False       False       False
5  False       False       False       False       False

In [7]:
#not correct code
df12= pd.read_csv("test4.csv",na_values=["Null"])
df12

                          # hey Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0                             a          b          c          d   messages
1     This is just jumbled data        NaN        NaN        NaN        NaN
2  There is no proper dataframe        NaN        NaN        NaN        NaN
3                             1          2          3          4          5
4                          kjhu         ft        poi        7oj      cggfc
5                       Melissa     Whisky       Coco       Picu        Ken

In [12]:
#change sheet of excel sheet
#use xlsx file and use read_excel function

df13= pd.read_excel("test5.xlsx")
df13
#it shows the data just from sheet1 by default

  zdgRGsb    vsf    Svteh     bryhj
0     NaN   vdWS      NaN       NaN
1     wRG    NaN      NaN  bdfahefb
2     NaN     SD      NaN       NaN
3   vCBwr    NaN      NaN       fdb
4       s  Vster  RYUY5RT       NaN
5     get    NaN     DVsG       NaN

In [14]:
# to display data from other sheets than sheet1
df14= pd.read_excel("test5.xlsx", sheet_name='test5')
df14
#all the sheets can not be read in one go

    vdagn    yrk  ngff    dngd
0  nhrymw    NaN    NaN    NaN
1     NaN   jryk  ngfsf    NaN
2     NaN    NaN    NaN    NaN
3  mntwy,    ngf    NaN    NaN
4     nrs    NaN   ngfn    NaN
5     NaN    NaN    NaN  ngdnj
6       n  nsryj    NaN  badgn

In [15]:
# read file html file online or local system 
#this page has table
#limitations- in this function, it only pulls data which is available in tabular form
#this is identified using "inspect elements" in 'view page source'

df15= pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')
df15
#it is not available in proper tabular form, it has all data jumbled whose type is list

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [16]:
type(df15)
# single html page can have multiple tables. pandas will create dataframe for each data
# then wrap all dataframes into single list.ex: [df1,df2,..]this is why,type is list

list

In [17]:
#0th index is 1st table

df15[0]#.ix[:, 0:20].head(5)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

TypeError: list indices must be integers or slices, not str

In [23]:
#in first table which is stored in index 0, 
df15[0].ix[:, 0:20].head(5)

AttributeError: 'DataFrame' object has no attribute 'ix'

In [20]:
df16= df15[0]
df16.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [22]:
df16["Player"]
# I tried df15[Player], got error because df15 is list. I sliced that and assigned it 
#to df16. then extracted "Player" column

0          Quincy Acy
1        Jordan Adams
2        Steven Adams
3         Jeff Adrien
4       Arron Afflalo
            ...
670    Thaddeus Young
671    Thaddeus Young
672    Thaddeus Young
673       Cody Zeller
674      Tyler Zeller
Name: Player, Length: 675, dtype: object

In [24]:
#if I want 2 columns in that df
df16["Player","Age"]
#I get an error
#If I need to get more than 1 column data then I need to pass column names as list

KeyError: ('Player', 'Age')

In [25]:
df16[["Player","Age"]]

             Player Age
0        Quincy Acy  24
1      Jordan Adams  20
2      Steven Adams  21
3       Jeff Adrien  28
4     Arron Afflalo  29
..              ...  ..
670  Thaddeus Young  26
671  Thaddeus Young  26
672  Thaddeus Young  26
673     Cody Zeller  22
674    Tyler Zeller  25

[675 rows x 2 columns]

In [27]:
type(df16["Player"])
# this is series kind of data
#if I want to pull 1 row or 1 column then it will be pulled and displayed as series

pandas.core.series.Series

In [30]:
type(df16[["Player","Age"]])
#when Im trying to fetch more than1 col or row,then its pulled as displayed as Dataframe

pandas.core.frame.DataFrame

In [31]:
df16.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [32]:
type(df16.columns)

pandas.core.indexes.base.Index

In [36]:
df17= pd.read_csv('https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv'
                 ,sep='\t')
df17

#this data is actually not available anymore

HTTPError: HTTP Error 404: Not Found

In [46]:
titanic=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")#,sep='\t')

In [47]:
titanic
# here I went to github https://github.com/datasciencedojo/datasets/blob/master/titanic.csv
#clicked on raw and then copied raw page's url

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [48]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [49]:
titanic["Name"].head(5)

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [51]:
type(titanic['Fare']) #variable type

pandas.core.series.Series

In [52]:
type(titanic['Name'])

pandas.core.series.Series

In [54]:
titanic[['Name', "Age"]].head(5)

                                                Name   Age
0                            Braund, Mr. Owen Harris  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                             Heikkinen, Miss. Laina  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                           Allen, Mr. William Henry  35.0

In [56]:
#datatypes of entire dataframe in column name perspective

titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

type() in python vs dtypes in pandas

type() returns variable types of any variable. this is python

pd.dtypes is always associated with pandas and it returns data types of column header/element 

String is datatype of name and string variable type is object.

github : https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv

1. read this data in DF
2. Print 1st 5 data
3. print last 2 data
4. give your own column name
5. select 1 col n print its data type
6. Print data type
7. check data if any data is null
8. skip rows

In [63]:
df18= pd.read_csv("https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv", sep=";")
df18

#do check the raw data always to find the separator

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [64]:
df18.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [65]:
df18.tail(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [70]:
#give own col name

df18= pd.read_csv("https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv",sep=";", names=['NewCol1', 'Newcol2'])
df18

/Users/melissavidiera/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,10,11,12,13,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,,,,,,,,,,,,,,,,,,,NewCol1,Newcol2
age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
44,technician,married,professional.course,no,no,no,cellular,nov,fri,442,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [77]:
type(df18["NewCol1"])
#here I tried to fetch col df18["age"], i was getting an error as new column names are Newcol1 n 2

pandas.core.series.Series

In [79]:
df18.dtypes

NewCol1    object
Newcol2    object
dtype: object

In [80]:
pd.isnull(df18) 
#nt sure if its right

,,,,,,,,,,,,,,,,,,,NewCol1,Newcol2
age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,False,False
56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,False,False
57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,False,False
37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,False,False
40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,False,False
46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,False,False
56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,False,False
44,technician,married,professional.course,no,no,no,cellular,nov,fri,442,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,False,False
74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239,3,999,1,failure,-1.1,94.767,-50.8,1.028,False,False

In [84]:
df19= pd.read_csv("https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv",sep=";", skiprows=[0,2,3,4,5,6])
df19

,56,housemaid,married,basic.4y,no,no.1,no.2,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no.3
0,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41177,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41178,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41179,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41180,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41181,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [85]:
df20= pd.read_csv('trial.csv')
df20.head()

,Sector_score,LOCATION_ID,PARA_A,SCORE_A,PARA_B,SCORE_B,TOTAL,numbers,Marks,Money_Value,MONEY_Marks,District,Loss,LOSS_SCORE,History,History_score,Score,Risk
0,3.89,23,4.18,6,2.50,2,6.68,5.0,2,3.38,2,2,0,2,0,2,2.4,1
1,3.89,6,0.00,2,4.83,2,4.83,5.0,2,0.94,2,2,0,2,0,2,2.0,0
2,3.89,6,0.51,2,0.23,2,0.74,5.0,2,0.00,2,2,0,2,0,2,2.0,0
3,3.89,6,0.00,2,10.80,6,10.80,6.0,6,11.75,6,2,0,2,0,2,4.4,1
4,3.89,6,0.00,2,0.08,2,0.08,5.0,2,0.00,2,2,0,2,0,2,2.0,0

In [86]:
pd.options.display.max_rows=10
df20

,Sector_score,LOCATION_ID,PARA_A,SCORE_A,PARA_B,SCORE_B,TOTAL,numbers,Marks,Money_Value,MONEY_Marks,District,Loss,LOSS_SCORE,History,History_score,Score,Risk
0,3.89,23,4.18,6,2.50,2,6.68,5.0,2,3.38,2,2,0,2,0,2,2.4,1
1,3.89,6,0.00,2,4.83,2,4.83,5.0,2,0.94,2,2,0,2,0,2,2.0,0
2,3.89,6,0.51,2,0.23,2,0.74,5.0,2,0.00,2,2,0,2,0,2,2.0,0
3,3.89,6,0.00,2,10.80,6,10.80,6.0,6,11.75,6,2,0,2,0,2,4.4,1
4,3.89,6,0.00,2,0.08,2,0.08,5.0,2,0.00,2,2,0,2,0,2,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771,55.57,9,0.49,2,0.40,2,0.89,5.0,2,0.00,2,2,0,2,0,2,2.0,0
772,55.57,16,0.47,2,0.37,2,0.84,5.0,2,0.00,2,2,0,2,0,2,2.0,0
773,55.57,14,0.24,2,0.04,2,0.28,5.0,2,0.00,2,2,0,2,0,2,2.0,0
774,55.57,18,0.20,2,0.00,2,0.20,5.0,2,0.00,2,2,0,2,0,2,2.0,0
775,55.57,15,0.00,2,0.00,2,0.00,5.0,2,0.32,2,2,0,2,0,2,2.0,0

In [89]:
#last code isnt giving result. 
#restricting number of rows 
pd.read_csv('trial.csv',nrows=8)

,Sector_score,LOCATION_ID,PARA_A,SCORE_A,PARA_B,SCORE_B,TOTAL,numbers,Marks,Money_Value,MONEY_Marks,District,Loss,LOSS_SCORE,History,History_score,Score,Risk
0,3.89,23,4.18,6,2.50,2,6.68,5.0,2,3.38,2,2,0,2,0,2,2.4,1
1,3.89,6,0.00,2,4.83,2,4.83,5.0,2,0.94,2,2,0,2,0,2,2.0,0
2,3.89,6,0.51,2,0.23,2,0.74,5.0,2,0.00,2,2,0,2,0,2,2.0,0
3,3.89,6,0.00,2,10.80,6,10.80,6.0,6,11.75,6,2,0,2,0,2,4.4,1
4,3.89,6,0.00,2,0.08,2,0.08,5.0,2,0.00,2,2,0,2,0,2,2.0,0
5,3.89,6,0.00,2,0.83,2,0.83,5.0,2,2.95,2,2,0,2,0,2,2.0,0
6,3.89,7,1.10,4,7.41,4,8.51,5.0,2,44.95,6,2,0,2,0,2,3.2,1
7,3.89,8,8.50,6,12.03,6,20.53,5.5,4,7.79,4,2,0,2,0,2,4.2,1

head(10) vs nrows=10

* head() loads entire dataframe into the memory and then display the 10 rows. 
* Memory intensive operation 
* This will take much time to display

* whereas nrows will just fetch 10 rows, loads into the memory and then display
* Doesnt consume much time as head()

In [90]:
#chunk_size:
# it alocates 1000 bytes to the data and fetch from dataset of 1000bytes 

chunk= pd.read_csv('trial.csv',chunksize=1000)
chunk

#suppose I have given chunk size as 100. 
#1 row record= 30 bytes. then I can read 3 whole row and partial amount of 4th row. 
# it wont return dataframe. it returns textfile reader object which can be iterated
#chunk is not widely used

In [93]:
#writing data 
#all the data which has been inserted during manipulation time is not permanently stayed. to get that data
#we need to reload data and go through steps all over. this is because, RAM is volatile memory
#here we are trying to write data in hard disk and store in any name prefered by me
#write data, we use to_csv 
#load df using read_csv. now df21 has all data 
#then use df21.to_csv(file name)

df21= pd.read_csv("test5.csv")
df21

    vdagn    yrk  ngff    dngd
0  nhrymw    NaN    NaN    NaN
1     NaN   jryk  ngfsf    NaN
2     NaN    NaN    NaN    NaN
3  mntwy,    ngf    NaN    NaN
4     nrs    NaN   ngfn    NaN
5     NaN    NaN    NaN  ngdnj
6       n  nsryj    NaN  badgn

In [96]:
df21.to_csv('xyzz.csv')

In [97]:
df21 # go to file xyzz.csv in docs. data will be shown same as shown below in jupyter.

    vdagn    yrk  ngff    dngd
0  nhrymw    NaN    NaN    NaN
1     NaN   jryk  ngfsf    NaN
2     NaN    NaN    NaN    NaN
3  mntwy,    ngf    NaN    NaN
4     nrs    NaN   ngfn    NaN
5     NaN    NaN    NaN  ngdnj
6       n  nsryj    NaN  badgn

data in file: it stores all row and column indices 0,1 and vdsgn... so on 

,vdagn,yrk,ngff ,dngd

0,nhrymw,,,

1,,jryk,ngfsf,

2,,,,

3,"mntwy,",ngf,,

4,nrs,,ngfn,

5,,,,ngdnj

6,n,nsryj,,badgn

In [4]:
import pandas as pd
pd.options.display.max_rows=2
df21= pd.read_csv("test5.csv")
df21

    Unnamed: 0   vdagn    yrk ngff    dngd
0            0  nhrymw    NaN   NaN    NaN
..         ...     ...    ...   ...    ...
6            6       n  nsryj   NaN  badgn

[7 rows x 5 columns]

In [6]:
df22= pd.read_csv("test5.csv",nrows=4)
df22

    Unnamed: 0   vdagn  yrk ngff   dngd
0            0  nhrymw  NaN   NaN   NaN
..         ...     ...  ...   ...   ...
3            3  mntwy,  ngf   NaN   NaN

[4 rows x 5 columns]

In [8]:
df21.head()

    Unnamed: 0   vdagn  yrk ngff  dngd
0            0  nhrymw  NaN   NaN  NaN
..         ...     ...  ...   ...  ...
4            4     nrs  NaN  ngfn  NaN

[5 rows x 5 columns]