In [1]:
import pandas as pd

In [2]:
# create a dictionary

xyz_web= {'Day':[1,2,3,4,5,6],'visitors':[1000,700,6000,4000,350,670],'bounce_rate':[20,60,70,90,50,20]}

In [3]:
#converting dictionary into pandas dataframe
#declare var called df

df= pd.DataFrame(xyz_web)

In [5]:
#converted dictionary to dataframes

print(df)

   Day  visitors  bounce_rate
0    1      1000           20
1    2       700           60
2    3      6000           70
3    4      4000           90
4    5       350           50
5    6       670           20

In [13]:
''''Operations that can be performed in Pandas
slice DF
chnage index value
convert the data into different format
change col headers
concatenation
join 2 DFs '''''

"'Operations that can be performed in Pandas\nslice DF\nchnage index value\nconvert the data into different format\nchange col headers\nconcatenation\njoin 2 DFs "

## slicing- starting 2 rows

print(df.head(2))

In [18]:
print(df.tail(2))

   Day  visitors  bounce_rate
4    5       350           50
5    6       670           20

In [25]:
#merging
#defining 3 DF

df1=pd.DataFrame({"HP1":[20,30,40,50],"Int_rate":[1,2,3,4],"ind_gdp":[30,40,50,60]},
                 index=[2001,2002,2003,2004])
print(df1)

      HP1  Int_rate  ind_gdp
2001   20         1       30
2002   30         2       40
2003   40         3       50
2004   50         4       60

In [26]:
df2=pd.DataFrame({"HP1":[34,33,42,59],"Int_rate":[6,5,9,3],"ind_gdp":[90,57,89,69]},
                 index=[2005,2006,2007,2008])
print(df2)

      HP1  Int_rate  ind_gdp
2005   34         6       90
2006   33         5       57
2007   42         9       89
2008   59         3       69

In [33]:
m1= pd.merge(df1,df2)
m1

Empty DataFrame
Columns: [HP1, Int_rate, ind_gdp]
Index: []

In [34]:
m1= pd.merge(df1,df2, on= "HP1")
m1   # to keep HP1 common

Empty DataFrame
Columns: [HP1, Int_rate_x, ind_gdp_x, Int_rate_y, ind_gdp_y]
Index: []

In [ ]:
#joining- 2 DF are joined basis of their index values
# I have 2 DF, DF1 has index 1 2 3 4, and column names A, B. DF2 has index 3 4 5 6 and col name C,D. 
#result will be, according to index, info will be same whose index will be matching.
#Data whose index is not thr or vice versa, or there is no value attached to index data will be NaN Not a Nummber