In [1]:
range(10)

range(0, 10)

Range can be used as data generator. If I declare upper bound using range function and provide a list(), it will generate a list of data with upper bound mentioned. range generates object, when untegrated with list, it is iterative function and trying to generate dataset out of range.

If I want reverse data, then I can not give like list(range(10,2)) This gives blank [] .
we need to give step size -1 as reverse.

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(2,8)) #upper bound and lower bound

[2, 3, 4, 5, 6, 7]

In [4]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [5]:
list(range(10,2.5,-1)) #this returns error, as the step size is -1 and our one of the bounds in decimal

TypeError: 'float' object cannot be interpreted as an integer

In [6]:
#List manipulation

l= [1,24,67,8,3,4,15,6,7,18,9,10]
m=[]
for i in l:     #extract dataset 1 by 1 out of the list. 
    
    m.append(i+2) #for i= 1, 1+2=3==m for i=24...
m

[3, 26, 69, 10, 5, 6, 17, 8, 9, 20, 11, 12]

In [7]:
#if condition 

l= [1,24,67,8,3,4,15,6,7,18,9,10]
m=[]
for i in range(len(l)): #if i> 4 only then add 2 to elements which are greater than 4
    if i>=4:
        m.append(l[i]+2)
m

[5, 6, 17, 8, 9, 20, 11, 12]

In [8]:
#if condition and if condition within an if statement

s=10
if s>10:
    print("Number it is equal to 10")
elif s<10:
    print("number is not equal to 10")
#if condition is not falling into any loopat all then use else
else:
    print("None of the condition is true")
    if type(s)== int:
        print("yes dataset is of integer type")

None of the condition is true
yes dataset is of integer type

In [9]:
#if condition inside for loop
#if my data set is string then add 2 else dont

l= [1,24,67,8,3,4,15,6,7,18,9,10, "Melissa", "Whisky","Picu", "Coco","Vidiera"]
m=[]

#type returns datatype of the object 

for i in l:
    if type(i)==str:
        m.append(i)
m

['Melissa', 'Whisky', 'Picu', 'Coco', 'Vidiera']

In [10]:
#range states 3 point. upper lower bound n step size

In [11]:
#FOR-ELSE
#else with for statement

l= [5,6,7,8,9,3,43]

for i in l:
    print(i)
else:
    print("no data left in collection") #once the objects in the list are dsplayed then
#else condition is displayed
# for some reason if I can not complete for loop then even else loop is not executed

5
6
7
8
9
3
43
no data left in collection

In [12]:
#BREAK- CONTINUE loop
#for else operation where else condition can not be excecuted ie, if entire for loop can
# not be completed. 

for i in "Vidiera": #string will store data in index values
    if i=="e": #if the condition is met, come out of the loop  
        break 
    else:
        print(i)
#if system encounter my name it shouldnt execute loop 
# go to Vidiera, extract object. now i==v, then it wont execute if statement, else will be
#executed then print V. same for i d i. now i = e, then it will enter the if loop as condition
#is met and then break the loop. so end result displays the data before e
#if I give letter which doesnt belong to i, then if is never executed, it will just print entire i

V
i
d
i

In [13]:
for i in "Melissa":
    if i== "s":
        break
    print(i)
    
else:
    print("Iteration is completed")
print("out of the loop")

#if i is not in the string given then it will display
#as soon as i has the letter which is in the string. then iteration is broken and print stmt out 
#of the for loop is executed.

M
e
l
i
out of the loop

In [14]:
for i in "Melissa":
    if i== "z":
        break
    print(i)
else:
    print("Iteration is completed")
print("out of the loop")

#in this case i doesnt match to any object in string. so all the objects in the string 
#is displayed. and the 2nd print of else statement is displayed.
#at last the last print statement is displayed

M
e
l
i
s
s
a
Iteration is completed
out of the loop

In [15]:
#WHILE STATEMENT: perform operation till the condition is failed. Once condition is failed come out of loop

d=10
s=0
i=1
#want to perform addition operation starting from 1 to 10. 

while i<=d: #entire kernel will hang if I give condition that always be true. like while i= true or i==d
    s=s+i
    i=i+1
#if i write print statements within while loop then I will get seriesof number like 1 2 3 etc not summation
print(s)
print(i)

55
11

In [16]:
#continue statement
#try to perform operation and if condition is met, then continue executing. 
#continue will not let the next statement to execute. as soon as the condition is met
#immediatedly it will give control to the for loop and iteration takes place all over. 
#in this case when i== s the condition is met, the next print statement is not executed
#instead the cntrol is given to for loop and anything after continue wont be exceuted 

for i in "Melissa":
    if i == "s":
        continue
    print(i)

M
e
l
i
a

Break vs Continue

Break leaves the loop completely and executes the statements after the loop 
Break exits the loop
Continue gives control back to the loop and will not execute statements after continue
Continue skips the statement after, and continues the loop

In [17]:
# how to take an input

input()
# it always return string, though I give integer or anything. 
#to overcome this, we use typecasting

Melissa

'Melissa'

In [18]:
type(input()) #here I have given integer but it is returning string.

123

str

In [20]:
#typecast: store the value of input in var and then change the type
a= input()
b= int(a)
type(b)

#here if I give string as the input then I can not typecast and I get an error

123

int

In [25]:
#creating code, where I am getting an input and checking that in the pre described list
#if the input matches with the list element, then print any stmt

a= input()
l= [1,2,3,4,5,6,7,8,9,0]
m=[]

for i in l:
    if i == a:
        m.append(i)
    
m
#it returns empty list 
#because, input always treates anything as string. 5 is considered as string, it wont 
#satisfy the if condiion, hence it returns empty list. 
# to avoid this, do the typecasting

5

[]

In [29]:
a= int(input("Insert only an integer: "))

l= [1,2,3,4,5,6,7,8,9,0]
m=[]

for i in l:
    if i == a:
        m.append(i)
    
m

Insert only an integer: 6

[6]

In [27]:
#if the list value is string then no need to typecast of course
a= input()
l= ['a','b','c','d','e','f']
m=[]

for i in l:
    if i == a:
        m.append(i)
    
m

e

['e']

In [30]:
#string concatnation: + operator is used. 
# we can not concatenate string and integer
#data type should be same. if not then typecast

"Melissa"+ "Vidiera"

'MelissaVidiera'

In [31]:
"Melissa"+5

TypeError: can only concatenate str (not "int") to str

In [34]:
'Melissa'+'5'

'Melissa5'

In [33]:
'Melissa'+str(5)

'Melissa5'

In [35]:
[1,2,3,4,5,6,7,8,9,0]+"Melissa"

TypeError: can only concatenate list (not "str") to list

In [36]:
['a','b','c','d','e','f']+'Melissa'

TypeError: can only concatenate list (not "str") to list

In [37]:
"Mel"*5

'MelMelMelMelMel'

In [38]:
"Mel "*5

'Mel Mel Mel Mel Mel '

In [39]:
[1,2,3,4,5]*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [40]:
['1','2','3', "Melissa"]*3

['1', '2', '3', 'Melissa', '1', '2', '3', 'Melissa', '1', '2', '3', 'Melissa']

use tab after s. to know the list of function suggestion. or to complete suggestion use tab s.sp <tab> it will show s.split etc. 
    
Shift+tab-> shows arguments in the function

In [44]:
s="melissa"
s.upper()

'MELISSA'

In [45]:
s1="mELIssa"
s1.lower()

'melissa'

In [46]:
s3= "My name is Melissa Vidiera"
s3.split()

['My', 'name', 'is', 'Melissa', 'Vidiera']

In [47]:
s4="My@name@is@Melissa@Vidiera"
#split fiunction takes white spaces as delimeter/seperator. in this case, I can pass @ as
#as argumetn then mention in arguments within quotes
s4.split('@')

['My', 'name', 'is', 'Melissa', 'Vidiera']

In [48]:
#if we have multiple delimiter
#use map operation for single line code. As of now we are creating our own function

In [49]:
s5="MyNameisMelissaVidiera"
s5.split('a')
#case sensitive, also the delimiter 'a' wont be the part of output data. i,e, a is missing in output

['MyN', 'meisMeliss', 'Vidier', '']

In [50]:
s5.split("A")
#it will return intital statement as delimiter is case sensitive

['MyNameisMelissaVidiera']

In [54]:
#as delimiter 'a' wont be part of output, it is a drawback. to overcome this we use
#partition: it doesnt have default delimiter
s5.partition('a')

#this split data once it encounters the argument we have passed. 
#delimiter also be the part of output
#only 1st time when it encounters delimiter then the data is separated into 2 parts. 
#three result
#before 1st delimiter and after delimiter. i.e, 2nd n 3rd 'a' is not considered as delimiter
#split always returns list. partition returns tuples

('MyN', 'a', 'meisMelissaVidiera')

In [55]:
type(s5.partition('a'))

tuple

In [57]:
s6="mklaforhgojetogjpewtiglknwadklsnlask"
s6.find('a')
#find returns index of first occurange of a/character we have passed
#there are many a mentioned in str, but index isnt returned

3

In [59]:
s6.find('z')
#z is not in the string, it returns -1.

-1

In [65]:
s6="Melissa"
s6.center(50, "x") #arg width=how many times my fillchar and my string is occupied.
#fillchar= what is placed before and after. total 50 character that includes str melissa and x

'xxxxxxxxxxxxxxxxxxxxxMelissaxxxxxxxxxxxxxxxxxxxxxx'

In [66]:
#in center we can pass only 1 character, if we pass multiple then we will get an error
s7="Melissa"
s7.center(50, "xx")

TypeError: The fill character must be exactly one character long

In [67]:
#\t inside "" wont be considered as tab
"Melissa\t Vidiera"

'Melissa\t Vidiera'

In [69]:
"Melissa\tVidiera".split('\t')

['Melissa', 'Vidiera']

In [71]:
"Melissa\tVidiera".expandtabs()

'Melissa Vidiera'

In [72]:
"Melissa\tVidiera\tWhisky\tVidiera".split('\t')

['Melissa', 'Vidiera', 'Whisky', 'Vidiera']

In [74]:
#in runtime if we want to take value from the variable
#use format(), use {} this is placeholder of data
'My name is {} Vidiera'.format("Melissa")

'My name is Melissa Vidiera'

In [77]:
#take input from keyboard 
a=input("Please enter your name")
"My name is {}".format(a)

Please enter your nameMelissa

'My name is Melissa'

In [79]:
#multiple data set
a=input("Please enter your first name ")
b=input("Please enter your last name ")

"My name is {} {}".format(a,b)

Please enter your first name Melissa
Please enter your last name Vidiera

'My name is Melissa Vidiera'

In [80]:
#if I give just one format()
#if curly braces is more and format arg is less, then we will get an error
#inversely, we wont get any error

a=input("Please enter your first name ")
b=input("Please enter your last name ")

"My name is {} {}".format(a)

Please enter your first name Melissa
Please enter your last name Vidiera

IndexError: Replacement index 1 out of range for positional args tuple

In [81]:
s9= "adfdknwagopijr6850"
s.isalpha()

True

In [99]:
s9.isalnum()

True

In [91]:
s9.isdecimal()

False

In [92]:
s9.islower()

True

In [93]:
s9.istitle()

False

In [94]:
s9.isidentifier()

True

In [95]:
s9.isspace()

False

In [96]:
s9.endswith('i')

False

In [97]:
len(s9)

18

In [102]:
#list

l2=[1,2,3,4,5,"Melissa", 5.5, "Vidiera"]
for i in l2:
    m.append(i)
m

[6, 1, 2, 3, 4, 5, 'Melissa', 5.5, 'Vidiera']

In [103]:
l3= [4,5,6,7,8,9,"Whisky","Coco"]
l2+l3

[1, 2, 3, 4, 5, 'Melissa', 5.5, 'Vidiera', 4, 5, 6, 7, 8, 9, 'Whisky', 'Coco']

In [105]:
(l2+l3)*2

[1,
 2,
 3,
 4,
 5,
 'Melissa',
 5.5,
 'Vidiera',
 4,
 5,
 6,
 7,
 8,
 9,
 'Whisky',
 'Coco',
 1,
 2,
 3,
 4,
 5,
 'Melissa',
 5.5,
 'Vidiera',
 4,
 5,
 6,
 7,
 8,
 9,
 'Whisky',
 'Coco']

In [106]:
(l2+l3)*0 #returns blank

[]

In [107]:
l3+"Melissa" #mismatch of datatype

TypeError: can only concatenate list (not "str") to list

In [108]:
l3+list("Melissa")
#if I pass Melissa as list by mentioning list then each character is considered as separate object
#characters are considered as iterable object. Same way if I pass integer inside list(), I will get an error
#TypeError: 'int' object is not iterable

[4, 5, 6, 7, 8, 9, 'Whisky', 'Coco', 'M', 'e', 'l', 'i', 's', 's', 'a']

In [109]:
list(90)

TypeError: 'int' object is not iterable

In [112]:
l3.append("Picu")
l3
#here I had run same stmt thrice, so Picu is added thrice

[4, 5, 6, 7, 8, 9, 'Whisky', 'Coco', 'Picu', 'Picu', 'Picu']

In [114]:
l3.insert(6,"Ken") #att - index, object
l3
#I had run one with index 5 and another time with index 6
# I have given index as 5, then object is not added in index 5(6th pos), it will add 1 before index(5th pos)

[4, 5, 6, 7, 8, 'Ken', 'Ken', 9, 'Whisky', 'Coco', 'Picu', 'Picu', 'Picu']

In [115]:
l3.insert(-1,"Sontu") 
l3
#same logic applied as last one, Sontu is not added in the last, it is added in last bt 2nd

[4,
 5,
 6,
 7,
 8,
 'Ken',
 'Ken',
 9,
 'Whisky',
 'Coco',
 'Picu',
 'Picu',
 'Sontu',
 'Picu']

In [116]:
#can insert list inside a list
l3.insert(-1,[8,9,0]) 
l3

[4,
 5,
 6,
 7,
 8,
 'Ken',
 'Ken',
 9,
 'Whisky',
 'Coco',
 'Picu',
 'Picu',
 'Sontu',
 [8, 9, 0],
 'Picu']

In [117]:
l3.pop()
#remove data permanently from last index if I am not passing any argument. by default it is last
l3

[4,
 5,
 6,
 7,
 8,
 'Ken',
 'Ken',
 9,
 'Whisky',
 'Coco',
 'Picu',
 'Picu',
 'Sontu',
 [8, 9, 0]]

In [118]:
l3.pop(2) #index2 is 3rd element. If I execute again, then again element in 2nd index is deleted
l3

[4,
 5,
 7,
 8,
 'Ken',
 'Ken',
 9,
 'Whisky',
 'Coco',
 'Picu',
 'Picu',
 'Sontu',
 [8, 9, 0]]

In [120]:
#reverse
l3[::-1] #this one line of code displays reversed list. if I again give l3, orginal list l3 is printed as reverse
#is not permanent
#this is not reversing list permanently. as it is not stored
#to make it permanent then we need to store it in variable 
#l3= l3[::-1]
#::-1, default start index, defailt stop index, step size is -1. that is last element, -1, 2nd last, -1, 3rd last

[[8, 9, 0],
 'Sontu',
 'Picu',
 'Picu',
 'Coco',
 'Whisky',
 9,
 'Ken',
 'Ken',
 8,
 7,
 5,
 4]

In [122]:
l3.reverse()
l3 #here I need to print l3, here list is reversed permanenty

[4,
 5,
 7,
 8,
 'Ken',
 'Ken',
 9,
 'Whisky',
 'Coco',
 'Picu',
 'Picu',
 'Sontu',
 [8, 9, 0]]

In [123]:
l3.sort()
#in my list, I have int list and different kind of var, so it cant be sorted

TypeError: '<' not supported between instances of 'str' and 'int'

In [125]:
l4=[67,9,23,479,23,68,0,1]
l4.sort()
l4

[0, 1, 9, 23, 23, 67, 68, 479]

In [127]:
l4.sort(reverse=True)
l4

[479, 68, 67, 23, 23, 9, 1, 0]

In [129]:
#nested list

l5= [47, 8, 67, 3, 23, 9, 1, 0]
l6= [1,2,3,4,5,6]
l7= [7,8,9,0,1]

l8= [l5,l6,l7]
l8

[[47, 8, 67, 3, 23, 9, 1, 0], [1, 2, 3, 4, 5, 6], [7, 8, 9, 0, 1]]

In [131]:
#2nd one whose index is 2
l8[2]

[7, 8, 9, 0, 1]

In [135]:
#print alternate objects within 3rd element in the list
#[::2] default start index, defailt stop index, step size=2

l8[2][::2]

[7, 9, 1]

In [138]:
#reverse of list embedded inside another list
#firstly reverse main list
# then take for loop which will be for each element is reversed main list
#create 1 empty list. 1 to hold reversal of main list 

m=[]
l8= l8[::-1]#and another to hold reversal of list inside main list
for i in l8:
    m.append(i[::-1])

In [139]:
l8

[[7, 8, 9, 0, 1], [1, 2, 3, 4, 5, 6], [47, 8, 67, 3, 23, 9, 1, 0]]

In [140]:
m

[[1, 0, 9, 8, 7], [6, 5, 4, 3, 2, 1], [0, 1, 9, 23, 3, 67, 8, 47]]

In [141]:
m=[]
l8.reverse()
for i in l8:
    m.append(l8.reverse())

In [142]:
m #reverse doesnt work for second one

[None, None, None]

In [143]:
m=[]
l8.reverse()
for i in l8:
    m.append(i[::-1])

In [144]:
m

[[0, 1, 9, 23, 3, 67, 8, 47], [6, 5, 4, 3, 2, 1], [1, 0, 9, 8, 7]]

In [145]:
#to find the second element from all the list inside main list

n=[]
for i in m:
    n.append(i[2])

In [146]:
n

[9, 4, 9]

In [147]:
#extract second element from embedded list and multiply by 2
n=[]
for i in m:
    n.append(i[2]*2)

In [148]:
n

[18, 8, 18]

In [149]:
#List Comprehension operation. Goes backward. 
[i[2]*2 for i in m]

[18, 8, 18]

In [21]:
#Remove 5 from list and nested list

l10= [1,4,5,6,5,5,[4,5,6,7,8,5,5]]

for i in l10:
    if i==5:
        l10.remove(5)
        
    if type(i)== list:
        for j in i:
            if j==5:
                i.remove(j)

In [22]:
l10

[1, 4, 6, 5, [4, 6, 7, 8, 5]]

In [23]:
l11= [1,4,5,6,5,5,[4,5,6,7,8,5,5]]

for i in l11:
    for j in i:
        if j==5:
            i.remove(j)
print(l11)

TypeError: 'int' object is not iterable

In [24]:
m= [1,4,5,6,5,5,[4,5,6,7,8,5,5]]

for i in m:
    for j in i:
        if j==5:
            i.remove(j)
print(m)

TypeError: 'int' object is not iterable