Tuples are used to store multile items in single variable. Entries in tuple can be of different data type, But it has to mentioned properly. i.e., strings in " "
Tuples are denoted by (). Tuple can also store homogenenous data type

List has the set of elements, whose datatypes are similar
List is denoted by []

Tuples can be used to hold the data which are not supposed to be changed. Ex: password
where we can not change the value of password entity, password should be same so that I can access system

In [3]:
t= (1,2, "melissa")
t

(1, 2, 'melissa')

In [4]:
type(t)

tuple

In [5]:
l= ["melissa", 1, 2, 3]
l

['melissa', 1, 2, 3]

In [6]:
type(l)

list

Even list can hold hetergeneous data. Why do we need tuples? 

*Data slicing: no difference
*We can use similar functions for both tuples and list 
* can not reassign in tuple directly like we can in list

Mutable vs Immutable element
Mutable is kind of element where we can manipulate using index. Item can be reassigned. ex: list
Immutable is kind of element where we can not maniplulate using index. Item can not be reassigned.ex: Tuples

In [7]:
len(t)

3

In [8]:
t[::-1]

('melissa', 2, 1)

In [9]:
l[0]= "Vidiera" #this function will not add Vidiera as 1st element. it reassign/replaces 1st ele instead
l

['Vidiera', 1, 2, 3]

In [10]:
#Difference: we can not reassign the element just using index in tuples

t=[0]="Whisky"
t

SyntaxError: cannot assign to literal (3261173547.py, line 3)

In [11]:
s="Melissa" #string will store in indices. 0=M, 1=e etc. mutating is not allowed.
s[0]

'M'

In [12]:
s[0]= "V" #string is immutable entity

TypeError: 'str' object does not support item assignment

In [13]:
#Iteration in tuples
t= (1,2, "melissa")
for i in t:
    print(i)

1
2
melissa

In [14]:
#not applicable
l1= [1,2, "melissa"]
for i in l1:
    print(i)

1
2
melissa

In [15]:
#Tuples has just 2 inbuilt function. Index and count. This is because tuple id immutable

In [21]:
t1= (1,1,1,2,3,4,5, 10)
t1.count(1)

3

In [22]:
t1.count(0)# 0 is not in t so returns 0

0

In [23]:
t1.index(10) #index of 10 is 7

7

In [24]:
t1.index(11) # 11 is not in my tuple so I get an error

ValueError: tuple.index(x): x not in tuple

In [26]:
# we can not apend
#Apend is not available. Because apend uses index mutation. + is used for concatenation
#because it returns new tuple after concatenation unlinke list


t3=(6,7,8,9,3)
t4=(4,3,2,1,7)

#concatenation is possible using +
t3+t4

(6, 7, 8, 9, 3, 4, 3, 2, 1, 7)

In [27]:
#insert operation is not available. If I want to insert data in particular location in tuple 
#so we can do is: convert tuple into list. Then insert, then convert back into tuple

t5=(4,5,6,7,8,9)
t5

(4, 5, 6, 7, 8, 9)

In [32]:
l1=list(t5)

In [33]:
l1.insert(3,"Melissa") # insert Melissa in 3rd loc
l1

[4, 5, 6, 'Melissa', 7, 8, 9]

In [37]:
t5=tuple(l1) #assigning to var t5 or any var is very imp
t5

(4, 5, 6, 'Melissa', 7, 8, 9)

In [38]:
type(t5)

#if I just write like tuple(l1) and do not assign to any var. then l1 still returns as
#list, not tuple.

tuple