* Set: It is kind of collection/ data structure which removes duplicate values
*ex: in NLP, we need to hold the data with no duplicate values. in NLP all data from wiki is stored but unique words/values will be stored. But it is case sensitive. Hence we convert all the words into smaller case

* Case sensitive: if we want to hold the password value. Vidiera and vidiera is not same when comes to password

* Holds Heterogeneous data 

* Denoted by set([]). Set will be returned as {}

* we can not fetch data in set using index. 'set' object is not subscriptable. 
loophole: can use for loop to fetch the data inside set

* Slicng is not possible, as I can not fetch data in set using index
Loophole: convert set into list. insert or delete element. convert it back to set

* set([]). passing tuple inside set: set((tuple))

list [], set {}, tuple (), Dict[k:v]

In [1]:
s= set([1,2,3,4,5,1,2,1,2,3,3,4,4,5,5,6,7, "Melissa","Melissa"])
#there are repeated values. Set returns unique entity
s

{1, 2, 3, 4, 5, 6, 7, 'Melissa'}

In [2]:
#accessing set using index
s[0]

TypeError: 'set' object is not subscriptable

In [3]:
#set is denoted by {}. can we fetch using {}? No
s{0}

SyntaxError: invalid syntax (3584829723.py, line 2)

In [4]:
for i in s:
    print(i)

1
2
3
4
5
6
7
Melissa

In [5]:
#passing tuple inside set. Even though it returns unique values

d= set((1,2,3,1,2,3,4,4,5,5))
d

{1, 2, 3, 4, 5}

In [6]:
#loophole: convert set into list
l1= list(d)

In [7]:
list(d)[::-1]

[5, 4, 3, 2, 1]

In [8]:
l1

[1, 2, 3, 4, 5]

In [9]:
type(l1)

list

In [10]:
l1.insert(1,"Melissa")
l1

[1, 'Melissa', 2, 3, 4, 5]

In [11]:
d=set(l1)

In [12]:
d

{1, 2, 3, 4, 5, 'Melissa'}

In [13]:
type(d)

set

In [14]:
b={} #assign empty { } for a var, it will be considered as dictionary data type not set
type(b)

dict

In [15]:
c={1,2,3,3,3,4,4,5,5} #if I assign values inside curly braces, then it will be considered as set
c

{1, 2, 3, 4, 5}

In [16]:
type(c)

set

In [17]:
#we can add data using add
c.add("Whisky")
c

{1, 2, 3, 4, 5, 'Whisky'}

In [18]:
c.pop() #queue: FIFO

1

In [19]:
c #executed twice

{2, 3, 4, 5, 'Whisky'}

In [20]:
#we can not pop out using index like we used to pop/delete in list
c.pop(2)

TypeError: pop() takes no arguments (1 given)

In [21]:
#set sorts the elements even with letter. it wont sort numbers with respect to values, it will sort with respect
# to numbers. For instance as shown, 123 comes after 1. 65 comes after 6

s2={1,2,3,65,32,123,7,6,7,1,2,8,8,"Whisky","Picu","Coco"}
s2

{1, 123, 2, 3, 32, 6, 65, 7, 8, 'Coco', 'Picu', 'Whisky'}

In [22]:
#here I am passing list inside set which is denoted by {}. I'll get an error
#in previous code, I have passes list inside set using set function set(), it is possible but not with {}

s3={1,2,3,65,32,123,7,6,7,1,2,8,8,"Whisky","Picu","Coco", [1,2,3,4]}

TypeError: unhashable type: 'list'

In [23]:
# we can not fetch (not delete) element in set using index method. Loophole: we can use for loop

for i in s2:
    print(i)

32
65
1
2
3
Picu
6
7
8
Whisky
Coco
123

Dictionary

*In english dictionary, we have a word which is mentioned just once(not meaning) and that word is unique
Map: map takes a key and pair it with a value

*Key is unique. Value can be different. 
Ex: in englist dictionary for the word Bat: animal and also cricket bat

* Dictionary dataset has key: value 

* Keys are case sensitive
* Keys cant be special character
* Keys cant be a list

Values
* value can be a list, nested list, tuples,set, dictionary itself

In [24]:
d={"Name": "Melissa", "surname":"Vidiera"}
d

{'Name': 'Melissa', 'surname': 'Vidiera'}

In [86]:
d.items()

dict_items([('Name', 'Melissa'), ('surname', 'Vidiera')])

In [25]:
d1={"Name": "Melissa", "surname":"Vidiera","Name":"Whisky"}
d1
#duplicate key is not allowed. I have 2 keys called Keys. I wont get an error. 
#new value will be overridden to the unique key "name". that is the latest value for a unique key is overridden/replaced

{'Name': 'Whisky', 'surname': 'Vidiera'}

In [26]:
d2={"Name": "Melissa", "surname":"Vidiera","Name":"Whisky","Drink": "Whisky"}
d2
#value whisky displays twice with different keys

{'Name': 'Whisky', 'surname': 'Vidiera', 'Drink': 'Whisky'}

In [27]:
#keys are case sensitive
d3={"surname":"Vidiera","Name":"Whisky", "name": "Coco"}
d3

{'surname': 'Vidiera', 'Name': 'Whisky', 'name': 'Coco'}

In [28]:
#keys cant be special character, but special characters as key can be enclosed within quotes

d4={"Name": "Melissa", "surname":"Vidiera","Name":"Whisky",##Drink: "Whisky"}
d4

SyntaxError: unexpected EOF while parsing (1343205353.py, line 5)

In [29]:
d5={"Name": "Melissa", "surname":"Vidiera",[1,2]: "Whisky"}
d5

TypeError: unhashable type: 'list'

In [46]:
#different data types of values

d6= {"key1":[1,2,3], "key2" : [1,2,3,[1,1,2]],"key3":('x','y','z'),"key4":{1,2,3},"key5":{"k":"v","k1":"v1"}}
d6

#I got an error "key2" : [1,2,3,[1,1,2]] missed comma in between 3 and [1,2,3]

{'key1': [1, 2, 3],
 'key2': [1, 2, 3, [1, 1, 2]],
 'key3': ('x', 'y', 'z'),
 'key4': {1, 2, 3},
 'key5': {'k': 'v', 'k1': 'v1'}}

In [48]:
# to access element in dictionary 

#using index
d6[0]
# we wll get error

KeyError: 0

In [49]:
# dict will store in form of keys not indices
d6["key1"]

[1, 2, 3]

In [50]:
# to access an element within list inside dict
d6["key1"][1]

#these will work with respect to list but not for tuple and set

2

In [51]:
# to access an element within dict inside dict
d6["key5"]

{'k': 'v', 'k1': 'v1'}

In [52]:
type(d6["key5"])

dict

In [53]:
#key of key
d6["key5"]['k1']

'v1'

In [54]:
#applying for in dictionary
for i in d6:
    print(i)
    #we are not getting key value pairs. instead we are just getting keys

key1
key2
key3
key4
key5

In [55]:
#to get values
for i in d6:
    print(d6[i])

[1, 2, 3]
[1, 2, 3, [1, 1, 2]]
('x', 'y', 'z')
{1, 2, 3}
{'k': 'v', 'k1': 'v1'}

In [56]:
#instead of iterating over dictionary, we can iterate over keys to get values

d6.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5'])

In [57]:
for i in d6.keys():
    print(d6[i])

[1, 2, 3]
[1, 2, 3, [1, 1, 2]]
('x', 'y', 'z')
{1, 2, 3}
{'k': 'v', 'k1': 'v1'}

In [58]:
d6.values()

dict_values([[1, 2, 3], [1, 2, 3, [1, 1, 2]], ('x', 'y', 'z'), {1, 2, 3}, {'k': 'v', 'k1': 'v1'}])

In [59]:
#extract tuple data and try to store the data within the tuple
# we have (x,y,z) a tuple. 

#without j loop 

m=[]
for i in d6.values():
    if type(i)==tuple:
       # for j in i:
        m.append(i)
        
m # returns dict element within the list m, if 2nd loop isnt applied

[('x', 'y', 'z')]

In [62]:
#tuple value is (x,y,z), first loop extract the values within the dict, second loop extract values within the tuple
#m is giving me elements of tuple as list because we have declared m in list. 

m=[]
for i in d6.values():
    if type(i)==tuple:
        for j in i:
            m.append(j)
        
m

['x', 'y', 'z']

In [64]:
# to add new key value pair inside dict 
# can do add method. shown one is the simpler way

d6['Key6']="this is my new data"
d6

{'key1': [1, 2, 3],
 'key2': [1, 2, 3, [1, 1, 2]],
 'key3': ('x', 'y', 'z'),
 'key4': {1, 2, 3},
 'key5': {'k': 'v', 'k1': 'v1'},
 'Key6': 'this is my new data'}

In [65]:
#reassigning or editind values within dict

d6['key1']="Key overriding. Value editng"
d6

{'key1': 'Key overriding. Value editng',
 'key2': [1, 2, 3, [1, 1, 2]],
 'key3': ('x', 'y', 'z'),
 'key4': {1, 2, 3},
 'key5': {'k': 'v', 'k1': 'v1'},
 'Key6': 'this is my new data'}

Dictionary comprehension operation: performing multi line task into single line

In [68]:
#create dict where key is int and value is square of int. create 10 KV pair

d7={}

for i in range(10):
    d7[i]= i**2  #** is power and * is multiplication
    
d7

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [76]:
{i:i**2 for i in range(10)}

#there is no need of assigning to that dict. 
# we have to return dict so use {}, then write a for loop inside {}. Next statement that is computation 
# write it before the for loop. we use : instead of =

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [71]:
#create dict where key is the element in the list and value will be the uppercase of that ele in the list
  
l= ['Melissa','Whisky','Coco','Picu','Vidiera']
d8={}

for i in l:
    d8[i]= i.upper()
    
d8

{'Melissa': 'MELISSA',
 'Whisky': 'WHISKY',
 'Coco': 'COCO',
 'Picu': 'PICU',
 'Vidiera': 'VIDIERA'}

In [84]:

{i:i.upper() for i in l}

#mistake I made, {d8[i]:i.upper() for i in l1}

{'Melissa': 'MELISSA',
 'Whisky': 'WHISKY',
 'Coco': 'COCO',
 'Picu': 'PICU',
 'Vidiera': 'VIDIERA'}

In [73]:
#create key value pair and key is the data and value should be the result of function isupper/is lower

d8={}

for i in l:
    d8[i]= i.islower()
    
d8

{'Melissa': False,
 'Whisky': False,
 'Coco': False,
 'Picu': False,
 'Vidiera': False}

In [85]:
{i:i.islower() for i in l}

{'Melissa': False,
 'Whisky': False,
 'Coco': False,
 'Picu': False,
 'Vidiera': False}