# Creating python function

It is used to increase range 
we can use my own function and another person can use my function to make use of same task
Python is OOP and functional programming language

In other languages we use: return type(or void) function name(arguments) int square(i)
these doesnt exist in python
Def is used because python understands the datatypes
Def means definition

In [1]:
def test(): # no body. so we get error

SyntaxError: unexpected EOF while parsing (3861551224.py, line 1)

In [2]:
def test():
    pass
#if I have no body just use "pass"

In [5]:
test() # calling my function

In [4]:
range(8) #someone has created range function and we are using that. this will return somethin

range(0, 8)

In [6]:
#I passed no arg, so I dint get any error. 
#check type. As I have no body no arg nothing, it returns None type

type(test())

NoneType

In [7]:
for i in range(8):
    #returns error as I have given no body

SyntaxError: unexpected EOF while parsing (1788322380.py, line 2)

In [8]:
for i in range(8):
    pass

In [9]:
def test():
    print("This is my first function")

In [10]:
test()

This is my first function

In [66]:
def test1():
    a=2
    b=5
    print("This is my first function" "the sum is \n",a+b)

test1()

This is my first functionthe sum is
 7

In [15]:
type(test1())

This is my first functionthe sum is: 7

NoneType

In [16]:
#print always return nonetype
print("Melissa")
type(print())

Melissa

NoneType

In [17]:
#performing further operation like addition over the result of function
# we will get an error because the test returns none type and I am trying to add

test1()+5

This is my first functionthe sum is: 7

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [20]:
b=test1()
b

#if I am storing the o/p of test1() in b and then perform operations, it again will show error
b+1

This is my first functionthe sum is: 7

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [21]:
type(b)

#test1() has print() whose type is none, when I assigned test1() to b, b's type turned none as well
#this is why I was getting an error while performing primitive operation or data manipulation like addition on b

NoneType

In [23]:
#typecasting is also not allowed

b=test1()
int(b)
b+1

This is my first functionthe sum is: 7

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [25]:
#Checking for string data type

def test2():
    print("Melissa Vidiera")
    
test2()

type(test2())

Melissa Vidiera
Melissa Vidiera

NoneType

In [26]:
test2().isupper() # can not perform any string operation as the datatype of print is not string

Melissa Vidiera

AttributeError: 'NoneType' object has no attribute 'isupper'

In [27]:
#create functiion which perform operation and over the output I can perform primitive operation
#instead of using print use return: return uses the datatype of the operation. return uses by default data type acc to operation

def test3():
    a=3
    b=5
    return a+b
test3()

8

In [28]:
type(test3())

int

In [29]:
test3()+7

15

In [30]:
n=test3()
n+19

27

In [31]:
#string operations

def test4():
    return "My name is Melissa "

test4()

'My name is Melissa '

In [32]:
test4()+ "Vidiera"

'My name is Melissa Vidiera'

In [33]:
type(test4())

str

In [36]:
test4()+7

TypeError: can only concatenate str (not "int") to str

In [40]:
#passing argument in function

def test5(a,b):
    a+b
    
test5(3,4)

#doesnt show any output because there is no print or return

In [42]:
def test5(a,b):
    return a+ b

test5() #if no or 1 arguement is passed

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [43]:
test5(3,5)

8

In [46]:
test5("Melissa", "Vidiera")

'MelissaVidiera'

In [47]:
type(test5()) # we can not get the type as it has arguments.

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [48]:
# to get the type first we need to assign the o/p of function to a var

m= test5("Melissa", "Vidiera")
type(m)

str

In [49]:
# return multiple operation

def test6(a,b):
    return a+b, a*b

test6(5,8)

(13, 40)

In [51]:
#overall result is tuple not int
x=test6(5,8)
x
type(x)

tuple

In [52]:
#I am assigning each result of operation to separate variable. now each var is int.
a, b= test6(4,5)
a

9

In [53]:
b

20

In [54]:
type(a)

int

In [55]:
type(b)

int

In [56]:
# one to one mapping. 
# rather than assigning the value to each var like this

a=1
b=2
c="Melissa"

#we can use as follows

In [57]:
a,b,c= 1,2,"Melissa"

In [58]:
a

1

In [59]:
b

2

In [60]:
c

'Melissa'

In [62]:
# if I give 1 var, then it contains both addition and multiplication result in form of tuple. 
d=test6(6,7)
d

(13, 42)

In [64]:
#if Im just passing 1 var and I give a placeholder _

e, _=test6(6,7)
e # now 'e' has result of addition.not tuple. just int

13

In [65]:
type(e)

int

In [67]:
#default value passing to argument

def test7(a, b="Vidiera"):
    return a+b

test7("Melissa ")

'Melissa Vidiera'

In [69]:
#overriding the arguments

test7("Melissa ", "Whisky")

'Melissa Whisky'

In [71]:
#passing variables outside function

a=2

def test8():
    j=3
    return a+b
    
test8()

5

In [72]:
#if I try to call a, a's value is displayed. b's value isn't displayed
# a is defined outside function and it is global var, b is defined inside function so it is local var

a

2

In [74]:
j # will not work if test8 is made to run once

NameError: name 'j' is not defined

In [75]:
#returning data with different data type
def test9():
    return 1, "M", [1,2,3],{'k1':5, 'k2':6, 'k3':7}

test9()

(1, 'M', [1, 2, 3], {'k1': 5, 'k2': 6, 'k3': 7})

In [76]:
type(test9())

tuple

In [81]:
#if I just want any one of the data type as result use placeholder

_,_ ,_,u = test9()
u

{'k1': 5, 'k2': 6, 'k3': 7}

In [83]:
_ # fisrt placeholder _ is assigned to first element, 2nd etc. But while calling placeholder _, latest element 
#assigned is returned

[1, 2, 3]

In [96]:
#function to check input is prime or not
#prime is number that is divisible by itself or 1

def is_prime(num):
    for i in range(2, num): #lower bound from 2, because all numbers are divisible by 1. upper bound itself
        if num%i==0:
            print("This number is not prime number")
            break # do not check any further. come out of loop. if it is divisible by even any of the number it is not prime
    else:
        print("This is prime number")
            
            
is_prime(719)

This is prime number

In [97]:
is_prime(88)

This number is not prime number

In [98]:
def isprime(num):
    for i in range(2, num): 
        if num%i==0:
            return False
            break 
    else:
        return True

In [99]:
isprime(99)

False

In [100]:
type(isprime(99))

bool

In [101]:
type(is_prime(88))#it returns print stmt that is why, type is none type

This number is not prime number

NoneType

## Iterate
Kind of object which I can iterate using function and extract data out of it

Kind of object which I can make as iterator

Any loop which is tryin to iterate through dataset only if the dataset is iterable
*Iterator: string, list can be iterable (not iterator)

Next function extracts "next" data and


##Iterable vs Iterator

*String, tuple and list are iterable: possibility of iterating over the dataset and extract data using indices
These are iterable.
*These can be iterable only using for loop. 
*for loop can convert iterable object into iterator and then generate data
* to convert into iterator, data must be iterable. 

To check this we can use next function, we will get an error

*iter() is used to convert iterable object (str, list, range) into iterator

* to make any generator: convert iterable object into iterator using iter() then use next()

In [102]:
for i in 7:
    pass

#'int' object is not iterable

TypeError: 'int' object is not iterable

In [104]:
for i in "melissa":
    print(i)

m
e
l
i
s
s
a

In [105]:
#String and list are iterable not iterator

s=("Melissa")
l=[1,2,"Melissa"]

next(s)

TypeError: 'str' object is not an iterator

In [106]:
next(l)

TypeError: 'list' object is not an iterator

In [111]:
#iter() used to convert data into iterator

a=iter("Melissa")
type(a)

str_iterator

In [119]:
next(a) #one by one the element within dataset(str) is extracted
#at last time after last 'a' in Melissa, it returns exception as next() doesnt know when to stop or upperbound
#next() doesn't know the last index
#but for loop knows the last index that is why it stops iteration

StopIteration:

In [120]:
#int is neither iterable nor iterable
next(12)

TypeError: 'int' object is not an iterator

In [121]:
iter(12)

TypeError: 'int' object is not iterable

## Generator

Kind of ibject which keeps of generating new data set by remembering the index and the last data element generated

*range wont give output

In [126]:
range(0,10)

range(0, 10)

In [127]:
type(range(0,10))

range

In [124]:
for i in range(10): # for loop is making range as iterable
    print(i)

0
1
2
3
4
5
6
7
8
9

In [128]:
next(range(10))

TypeError: 'range' object is not an iterator

In [129]:
iter(range(10)) #doesnt work like this

In [138]:
#iter function will convert any iterable obj into iterator
d=iter(range(10))
#next(d) if I give this line it doesnt work. even if I run many times, it will give 0.

In [139]:
next(d)

0

In [140]:
#Range() wont give me data directly. we need to use it wit for or iter() & next()
#function to generate function

def test(n):
    for i in range(n):
        print(i)

test(5)

0
1
2
3
4

In [153]:
def gen_cube(n):
    for i in range(n):
        print(i**3)
        
gen_cube(8)

0
1
8
27
64
125
216
343

In [155]:
#return statement should work but not working
def gen_cube1(n):
    for i in range(n):
        return i**3

In [158]:
gen_cube(3)

0

## yield vs return()

print or return statement do not remember the codes but generate data otherwise. 
to overcome this problem, we use yeild 

Yield is generally used to convert a regular Python function into a generator.
Return is generally used for the end of the execution and “returns” the result to the caller statement.

yield replace the return of a function to suspend its execution without destroying local variables.
return exits from a function and handing back a value to its caller

yield can run multiple times.
return only runs single time

yield statement function is executed from the last state from where the function get paused.
return function calls run the function from the start.

yield is used when the generator returns an intermediate result to the caller.
return is used when a function is ready to send a value.

In [163]:
def gen_cube3(n):
    for i in range(n):
        yield i **3

In [164]:
gen_cube3(8) #it returns object

In [166]:
for i in gen_cube3(8):
    print(i)

0
1
8
27
64
125
216
343

In [168]:
next(gen_cube3(8)) #I'll not generate data apart from data, because it is not able to move to next indices
#it is not iterable object 
#Now gen_cube is "iterable" and "iterator object" but NOT ITERATOR

0

In [175]:
#again to make it iterator: use iter() then next()
#doesnt work if I write next in same cell. Not sure why 

v= iter(gen_cube3(8))

In [177]:
next(v)

1

To summarize: 

creating generator function
1. Use foor loop and use yield. This returns genrator object
2. To make it an iterator, use iter() and assign it to variable 
3. Pass that variable in next()

In [189]:
#GENERATOR FUNCTION.   *interview worth: generator, iterable, iterator
#output shouldn't be generated in that function. 

def gen_cube4(n):
    for i in range(n):
        yield i **3
        
next(gen_cube4(5))

v= iter(gen_cube4(5))

#next(v)#doesnt work if next() is in same cell.

In [188]:
next(v)

64

### Fibonacci series

n=n+1-> 1,1,2,3,5,8.. etc

In [192]:
#GENERATE FIBONACCI NUMBER USING GENERATOR
#dont want output from that function 

#first without yield
def gen_fibo(n):
    a=1
    b=1
    for i in range(n):
        print(a)
        a,b = b,a+b

gen_fibo(10)

1
1
2
3
5
8
13
21
34
55

In [193]:
#create generator function (using yield)

def gen_fibo(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b = b,a+b

In [194]:
gen_fibo(10)

In [195]:
#call generator function inside for loop

for i in gen_fibo(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [196]:
c= iter(gen_fibo(n))

In [205]:
next(c)

StopIteration:

In [207]:
#putting it together

def gen_fibo1(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b = b,a+b
        
c= iter(gen_fibo1(10))

In [216]:

next(c)

34

In [219]:
#map function

def square(n):
    return n**2

square(4)

16

In [220]:
#generate square of all data inside list and return list

l1=[1,2,3,4,5,6,7,8,9]
n=[]

for i in l1:
    n.append(square(i))

In [221]:
n

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [223]:
#same operation in single line. 

#list comprehension

[i**2 for i in l1]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [225]:
#using map function 
#map() takes function without () as 1st arg and 2nd arg of iterable objects. map internally converts iterable
#into iterator
#maps every element in iterable into the function

map(square,l1) #this returns object. But we want output list so typecast map() into list

In [226]:
list(map(square,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [228]:
#passing map into for: map acts like generator object

for i in map(square, l1):
    print(i)

1
4
9
16
25
36
49
64
81

In [230]:
#lambda function: without using external function. It is also called anonymous function because func has no name
#lamba is keyword with which we can write entire function within itself in a single line
#lamda takes1 arg, returns square of that arg, iterate 
# lambda is 1st arg, list l1 is 2nd arg for map()

map(lambda x: x**2,l1 )

In [231]:
list(map(lambda x: x**2,l1 ))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [232]:
#or we can write lambda in other line and assign it to a variable

d= lambda x:x**2

In [233]:
#if not direct or lamda function, we can also pass the variable which does some sort of computation

map(d,l1)

In [234]:
list(map(d,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [241]:
#one final list which should be index wise summation

l2=[12,34,64,7,8,4]
l3=[4,6,8,1,5,7]
l4= [56,3,6,7,34,67,1,1,1,1]

In [242]:
#using map
def summation(x,y,z):
    return x+y+z
#in l4 last 1s are ignored. it will take other index of l2 and l3 as null, not 0. if it took 0 then it would have added 1 from l4

In [243]:
list(map(summation,l2,l3,l4))

[72, 43, 78, 15, 47, 78]

In [248]:
list(map(lambda x,y,z: x+y+z,l2,l3,l4))
#I passes l1 as second arg in map() thanl2 l3 l4 got error: 
#<lambda>() missing 2 required positional arguments: 'y' and 'z' lambda lhs= 2nd arg objects of map()

[72, 43, 78, 15, 47, 78]

In [251]:
#REDUCE FUNCTION

#function is used to apply a particular function passed in its argument to all of the list elements 
#mentioned in the sequence passed along.

# reduce() is not available bydefault. should be imported from functools

#summation takes 2 arg and return sum of 2


def summation1(a,b):
    return a+b

In [252]:
from functools import reduce

l5=[1,2,3,4,5,6,7,8]

reduce(summation1, l5) #1st arg func(external or lambda, 2nd is iterable dataset

#1st seq" a=1 b=2 =>3 a=3 b=3 =>6 a=6, b=4 etc

36

In [253]:
#using lambda

reduce(lambda x,y: x+y, l5)

36

In [254]:
reduce(lambda x,y: x/y, l5)

2.48015873015873e-05

In [255]:
reduce(lambda x,y: x*y, l5)

40320

In [256]:
reduce(lambda x,y,z: x+y+z, l5)
#if I do computation for each element in l5 that has even number or in this case 8 elements, at the last iteration
#I'll be having a value for x and y but no z. so I'm getting an error
#this explaination is wrong, shown in next example
#reduce always takes 2values to compute, not even 1 or more than 2

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [257]:
#even this logic doesn't work. s reduce always takes 2values to compute
l6=[1,3,5,7,8]
reduce(lambda x,y,z: x+y+z, l6)

TypeError: <lambda>() missing 1 required positional argument: 'z'

MAP VS REDUCE

* map creates a new array by transforming every element in an array individually. 
* filter creates a new array by removing elements that don't belong. 
* reduce , on the other hand, takes all of the elements in an array and reduces them into a single value.

In [276]:
#FILTER
#used to extract data set
#signature is same as reduce n map

#1st arg function, second iterable object

l6=[3,5,1,6,7,99,2,4,8,66,24]
#using lambda
filter(lambda x : x%2==0, l6)

In [277]:
list(filter(lambda x : x%2==0, l6))

[6, 2, 4, 8, 66, 24]

In [287]:
# code isn't correct 
#l7=[3,5,1,6,7,99,2,4,8,66,24]
#m=[]

def evencheck(n):
    if n%2==0:
        return True

In [288]:
filter(evencheck, l6) #filter filters out the data whenever condition is true

In [289]:
list(filter(evencheck, l6))

[6, 2, 4, 8, 66, 24]

In [290]:
def oddcheck(n):
    if n%2!=0:
        return True
list(filter(oddcheck, l6))

[3, 5, 1, 7, 99]